{{ define "main" }}

<!-- Page Banner Section Start -->
<div
  class="section page-banner-section"
  style="background-image: url(/assets/images/page-banner-bg.png)"
>
  <div class="container">
    <!-- Page Banner Wrapper Start -->
    <div class="page-banner-wrapper">
      <!-- Page Banner Content Start -->
      <div class="page-banner-content">
        <!-- Section Title Start -->
        <div class="section-title">
          <h5 class="sub-title">Services</h5>
          <h2 class="main-title">What we Provide.</h2>
        </div>
        <!-- Section Title End -->

        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Services</li>
        </ul>
      </div>
      <!-- Page Banner Content End -->

      <!-- Page Banner Images Start -->
      <div class="page-banner-images">
        <img src="/assets/images/page-banner.png" alt="Page Banner" />
      </div>
      <!-- Page Banner Images End -->
    </div>
    <!-- Page Banner Wrapper End -->
  </div>
</div>
<!-- Page Banner Section End -->

<!-- About Section Start -->
<div class="section section-padding-02">
  <div class="container">
    <!-- About Wrapper Start -->
    <div class="about-wrapper">
      <div class="row">
        <div class="col-lg-7">
          <!-- About Images Start -->
          <div
            class="about-images images-03 pt-5"
            data-aos="fade-right"
            data-aos-delay="200"
          >
            <div class="images">
              <img src="/assets/images/about/about-3.png" alt="About" />
            </div>
            <div class="exprience" data-aos="fade-up" data-aos-delay="400">
              <p>
                <strong>{{.Site.Params.experience}}</strong> years Exprience
              </p>
            </div>
          </div>
          <!-- About Images End -->
        </div>
        <div class="col-lg-5">
          <!-- About Content Start -->
          <div class="about-content" data-aos="fade-left" data-aos-delay="200">
            <!-- Section Title Start -->
            <div class="section-title">
              <h5 class="sub-title">
                Welcome to <strong>{{.Site.Title}}</strong>.
              </h5>
              <h2 class="main-title">Latest Equipments with Trusted Service</h2>
            </div>
            <!-- Section Title End -->

            <p>{{.Params.content1}}</p>

            <a href="/contact" class="btn btn-custom-01">Get Appointment</a>
          </div>
          <!-- About Content End -->
        </div>
      </div>
    </div>
    <!-- About Wrapper End -->
  </div>
</div>
<!-- About Section End -->

<!-- Service Section Start -->
{{ partial "service.html" .}}
<!-- Service Section End -->

<!-- Testimonials Section Start -->
{{partial "testimonials.html" .}}
<!-- Testimonials Section End -->

<!-- How We Work Section Start -->
{{ partial "how-we-work.html" .}}
<!-- How We Work Section End -->

{{ end }}
