{{ define "main" }}

<!-- Page Banner Section Start -->
<div
  class="section page-banner-section"
  style="background-image: url(/assets/images/page-banner-bg.png)"
>
  <div class="container">
    <!-- Page Banner Wrapper Start -->
    <div class="page-banner-wrapper">
      <!-- Page Banner Content Start -->
      <div class="page-banner-content">
        <!-- Section Title Start -->
        <div class="section-title">
          <h5 class="sub-title">Services</h5>
          <h2 class="main-title">{{.Params.Title}}</h2>
        </div>
        <!-- Section Title End -->

        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/services">Services</a></li>
          <li class="breadcrumb-item active">{{.Params.Title}}</li>
        </ul>
      </div>
      <!-- Page Banner Content End -->

      <!-- Page Banner Images Start -->
      <div class="page-banner-images">
        <img src="/assets/images/page-banner-2.png" alt="Page Banner" />
      </div>
      <!-- Page Banner Images End -->
    </div>
    <!-- Page Banner Wrapper End -->
  </div>
</div>
<!-- Page Banner Section End -->

<!-- Service Details Section Start -->
<div class="section section-padding">
  <div class="container">
    <!-- Service Details Wrapper Start -->
    <div class="service-details-wrapper">
      <div class="row">
        <div class="col-xl-9 col-lg-8">
          <!-- Service Details Content Start -->
          <div class="service-details-content">
            <div class="details-image">
              {{ if isset .Params "images" }} {{partial "carousel.html" .}}
              {{else}}
              <img
                src="/assets/images/service/service-details.jpg"
                alt="Service"
              />
              {{end}}
            </div>
            <h2 class="title">{{.Params.Title}}</h2>
            <img src="{{.Params.Image}}" />
            {{.Content}}
          </div>
          <!-- Service Details Content End -->
        </div>
        <div class="col-xl-3 col-lg-4">
          <!-- Sidebar Start -->
          <div class="sidebar">
            <!-- Widget Sidebar Start -->
            <div class="widget-sidebar">
              <ul class="category">
                <li>
                  <a href="{{.Params.apply_url}}">Anti Lock Brake Servicing</a>
                </li>
                <li><a href="{{.Params.apply_url}}">Car Wash Service</a></li>
                <li>
                  <a href="{{.Params.apply_url}}">Entire Engine Servicing</a>
                </li>
                <li>
                  <a href="{{.Params.apply_url}}">Change Oil and Filter</a>
                </li>
                <li><a href="{{.Params.apply_url}}">Battery Replacement</a></li>
                <li>
                  <a href="{{.Params.apply_url}}">Tire Change and Repair</a>
                </li>
              </ul>
            </div>
            <!-- Widget Sidebar End -->

            <!-- Widget Sidebar Start -->
            <div class="widget-sidebar">
              <a class="banner" href="{{.Params.apply_url}}"
                ><img src="/assets/images/banner-1.jpg" alt="Banner"
              /></a>
            </div>
            <!-- Widget Sidebar End -->

            <!-- Widget Sidebar Start -->
            <div class="widget-sidebar">
              <ul class="download">
                <li>
                  <a href="#"
                    ><i class="fa fa-file-pdf-o"></i> Download Brochure
                    <span class="fa fa-download"></span
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-file-word-o"></i> Download Brochure
                    <span class="fa fa-download"></span
                  ></a>
                </li>
              </ul>
            </div>
            <!-- Widget Sidebar End -->
          </div>
          <!-- Sidebar End -->
        </div>
      </div>
    </div>
    <!-- Service Details Wrapper End -->
  </div>
</div>
<!-- Service Details Section End -->
{{ end }}
