<!doctype html>
<html lang="en">
  {{partial "head.html" .}}
  <body>
    <div class="main-wrapper">
      {{ partial "header.html" .}}

      <div id="content">{{ block "main" . }}{{ end }}</div>

      {{ partial "footer.html" .}}
    </div>
    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="/assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <!-- <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>
    <script src="assets/js/plugins/aos.js"></script> -->

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <script src="/assets/js/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>
    <script src="https://kit.fontawesome.com/853ed08db5.js" crossorigin="anonymous"></script>
  </body>
</html>
