<div class="card border-0 rounded-0 hover-shadow">
  <div class="card-img position-relative">
    <a href="{{ .Permalink }}">
      <img class="card-img-top rounded-0" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
    </a>
  </div>
  <div class="card-body">
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Params.title }}</a></h4>
  </div>
</div>
