{{ define "main" }}
<!-- Page Banner Section Start -->
<div class="section page-banner-section" style="background-image: url(/assets/images/page-banner-bg.png);">
  <div class="container">
      <!-- Page Banner Wrapper Start -->
      <div class="page-banner-wrapper">

          <!-- Page Banner Content Start -->
          <div class="page-banner-content">

              <!-- Section Title Start -->
              <div class="section-title">
                  <h5 class="sub-title">About Us</h5>
                  <h2 class="main-title">Learn about {{.Site.Title}}.</h2>
              </div>
              <!-- Section Title End -->

              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active">About</li>
              </ul>
          </div>
          <!-- Page Banner Content End -->

          <!-- Page Banner Images Start -->
          <div class="page-banner-images">
              <img src="/assets/images/page-banner.png" alt="Page Banner">
          </div>
          <!-- Page Banner Images End -->

      </div>
      <!-- Page Banner Wrapper End -->
  </div>
</div>
<!-- Page Banner Section End -->

<!-- About Section Start -->
<div class="section section-padding-02">
  <div class="container">

      <!-- About Wrapper Start -->
      <div class="about-wrapper">

          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-7 col-md-9">
                  <!-- About Content Start -->
                  <div class="about-content content-02 text-center" data-aos="fade-up" data-aos-delay="200">

                      <!-- Section Title Start -->
                      <div class="section-title">
                          <h5 class="sub-title">Welcome to <strong>{{.Site.Title}}</strong>.</h5>
                          <h2 class="main-title">Latest Equipments with Trusted Service</h2>
                      </div>
                      <!-- Section Title End -->

                      <p>{{.Params.content1}}</p>

                      <a href="/contact" class="btn btn-custom-01">Get Appointment</a>

                  </div>
                  <!-- About Content End -->
              </div>
          </div>

          <div class="row justify-content-between">
              <div class="col-lg-6 col-md-6">
                  <!-- About Images Start -->
                  <div class="about-images-2" data-aos="fade-up" data-aos-delay="300">
                      <img src="/assets/images/about/about-4.png" alt="About">
                  </div>
                  <!-- About Images End -->
              </div>
              <div class="col-lg-5 col-md-6">
                  <!-- About Images Start -->
                  <div class="about-images-2" data-aos="fade-up" data-aos-delay="500">
                      <img src="/assets/images/about/about-2.png" alt="About">
                  </div>
                  <!-- About Images End -->
              </div>
          </div>

          <div class="row gx-0 justify-content-center">
              <div class="col-lg-8">
                  <!-- About Count Start -->
                  <div class="about-count about-count-02">
                      <!-- About Count Start -->
                      <div class="single-count" data-aos="fade-up" data-aos-delay="100">
                          <span class="count">{{.Site.Params.Clients}}</span>
                          <p>Happy car owners</p>
                      </div>
                      <!-- About Count End -->
                      <!-- About Count Start -->
                      <div class="single-count" data-aos="fade-up" data-aos-delay="200">
                          <span class="count">{{.Site.Params.Branch}}</span>
                          <p>Branch</p>
                      </div>
                      <!-- About Count End -->
                      <!-- About Count Start -->
                      <div class="single-count" data-aos="fade-up" data-aos-delay="300">
                          <span class="count">{{.Site.Params.Mechanics}}</span>
                          <p>Mechanics</p>
                      </div>
                      <!-- About Count End -->
                      <!-- About Count Start -->
                      <div class="single-count" data-aos="fade-up" data-aos-delay="400">
                          <span class="count">{{.Site.Params.accrediations}}</span>
                          <p>Accrediations</p>
                      </div>
                      <!-- About Count End -->
                  </div>
                  <!-- About Count End -->
              </div>
          </div>

      </div>
      <!-- About Wrapper End -->

  </div>
</div>
<!-- About Section End -->

<!-- Why Choose Section Start -->
<div class="section section-padding-02">
  <div class="container">

      <!-- Why Choose Wrapper Start -->
      <div class="choose-wrapper">
          <div class="row align-items-center gx-xl-0">
              <div class="col-lg-5">
                  <!-- Why Choose Content Start -->
                  <div class="choose-content" data-aos="fade-right" data-aos-delay="300">
                      <!-- Section Title Start -->
                      <div class="section-title">
                          <h5 class="sub-title">Why Choose Us</h5>
                          <h2 class="main-title">Accurate diagnosis, intelligent repairs, transparent and honest billing and, dilligent after repair service</h2>
                      </div>
                      <!-- Section Title End -->

                      <p>{{.Params.content2}}</p>

                      <img src="/assets/images/choose/choose.png" alt="Choose">
                  </div>
                  <!-- Why Choose Content End -->
              </div>
              <div class="col-lg-7">
                  <!-- Why Choose Items Wrapper Start -->
                  <div class="choose-items-wrapper">
                      <div class="row align-items-center">
                          <div class="col-sm-6">

                              <!-- Single Choose Item Start -->
                              <div class="single-choose-item" data-aos="fade-up" data-aos-delay="200">
                                  <div class="item-icon">
                                      <img src="/assets/images/choose/icon-1.svg" alt="Icon">
                                  </div>
                                  <div class="item-content">
                                      <h4 class="title">Latest Equipments</h4>
                                      <p></p>
                                  </div>
                              </div>
                              <!-- Single Choose Item End -->

                          </div>
                          <div class="col-sm-6">

                              <!-- Single Choose Item Start -->
                              <div class="single-choose-item" data-aos="fade-up" data-aos-delay="400">
                                  <div class="item-icon">
                                      <img src="/assets/images/choose/icon-3.svg" alt="Icon">
                                  </div>
                                  <div class="item-content">
                                      <h4 class="title">Expert Mechanics</h4>
                                      <p></p>
                                  </div>
                              </div>
                              <!-- Single Choose Item End -->

                          </div>
                          <div class="col-sm-6">

                              <!-- Single Choose Item Start -->
                              <div class="single-choose-item" data-aos="fade-up" data-aos-delay="200">
                                  <div class="item-icon">
                                      <img src="/assets/images/choose/icon-2.svg" alt="Icon">
                                  </div>
                                  <div class="item-content">
                                      <h4 class="title">Qulaity Services</h4>
                                      <p></p>
                                  </div>
                              </div>
                              <!-- Single Choose Item End -->

                          </div>
                          <div class="col-sm-6">

                              <!-- Single Choose Item Start -->
                              <div class="single-choose-item" data-aos="fade-up" data-aos-delay="400">
                                  <div class="item-icon">
                                      <img src="/assets/images/choose/icon-4.svg" alt="Icon">
                                  </div>
                                  <div class="item-content">
                                      <h4 class="title">Fast Delivery</h4>
                                      <p></p>
                                  </div>
                              </div>
                              <!-- Single Choose Item End -->

                          </div>
                      </div>
                  </div>
                  <!-- Why Choose Items Wrapper End -->
              </div>
          </div>
      </div>
      <!-- Why Choose Wrapper End -->

  </div>
</div>
<!-- Why Choose Section End -->

<!-- Call to Action Section Start -->
<div class="section section-padding-02">
  <div class="container">

      <!-- Call to Action Wrapper Start -->
      <div class="call-to-action-wrapper">

          <!-- Call to Action Content Start -->
          <div class="call-to-action-content">
              <div class="content-wrapper">
                  <!-- Section Title Start -->
                  <div class="section-title section-title-white">
                      <h5 class="sub-title">Emergency Calls 24/7 </h5>
                      <h2 class="main-title">{{.Site.Params.mobile}}</h2>
                  </div>
                  <!-- Section Title End -->
                  <p>At German Motor Works we believe in the power of expertise and the art of automotive care. With more than 5 years of industry experience</p>
                  <a href="tel:{{.Site.Params.mobile}}" class="btn btn-custom-01 btn-hover-white">Call Now</a>
              </div>
              <img class="shape" src="/assets/images/call-to-action.png" alt="Call to Action">
          </div>
          <!-- Call to Action Content End -->

          <!-- Call to Action Images Start -->
          <div class="call-to-action-images" style="background-image: url(/assets/images/call-to-action-bg-2.jpg);"></div>
          <!-- Call to Action Images End -->

      </div>
      <!-- Call to Action Wrapper End -->

  </div>
</div>
<!-- Call to Action Section End -->

<!-- Our Team Section Start -->
<!-- {{partial "team.html" .}} -->
<!-- Our Team Section End -->

<!-- Testimonials Section Start -->
{{partial "testimonials.html" .}}
<!-- Testimonials Section End -->

<!-- Brand Section Start -->

<div class="section section-padding">
</div>
<!-- Brand Section End -->
{{ end }}