<div class="section section-padding">
  <div class="container">

      <!-- Brand Wrapper Start -->
      <div class="brand-wrapper brand-active">
          <div class="swiper-container">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">

                      <!-- Single Brand Start -->
                      <div class="single-brand">
                          <img src="/assets/images/brand/brand-01.png" alt="Brand">
                      </div>
                      <!-- Single Brand End -->

                  </div>
                  <div class="swiper-slide">

                      <!-- Single Brand Start -->
                      <div class="single-brand">
                          <img src="/assets/images/brand/brand-02.png" alt="Brand">
                      </div>
                      <!-- Single Brand End -->

                  </div>
                  <div class="swiper-slide">

                      <!-- Single Brand Start -->
                      <div class="single-brand">
                          <img src="/assets/images/brand/brand-03.png" alt="Brand">
                      </div>
                      <!-- Single Brand End -->

                  </div>
                  <div class="swiper-slide">

                      <!-- Single Brand Start -->
                      <div class="single-brand">
                          <img src="/assets/images/brand/brand-04.png" alt="Brand">
                      </div>
                      <!-- Single Brand End -->

                  </div>
              </div>
          </div>
      </div>
      <!-- Brand Wrapper End -->

  </div>
</div>