<div class="section section-padding-02">
  <div class="container">
    <!-- Call to Action Wrapper Start -->
    <div class="call-to-action-wrapper">
      <!-- Call to Action Content Start -->
      <div class="call-to-action-content">
        <div class="content-wrapper">
          <!-- Section Title Start -->
          <div class="section-title section-title-white">
            <h5 class="sub-title">Emergency Calls 24/7</h5>
            <h2 class="main-title">{{.Site.Params.mobile}}</h2>
          </div>
          <!-- Section Title End -->
          <p>
            {{.Site.Params.webdescription}}
          </p>
          <a href="tel:{{.Site.Params.mobile}}" class="btn btn-custom-01 btn-hover-white"
            >Call Now</a
          >
        </div>
        <img
          class="shape"
          src="/assets/images/call-to-action.png"
          alt="Call to Action"
        />
      </div>
      <!-- Call to Action Content End -->

      <!-- Call to Action Images Start -->
      <div
        class="call-to-action-images"
        style="background-image: url(/assets/images/call-to-action-bg.jpg)"
      ></div>
      <!-- Call to Action Images End -->
    </div>
    <!-- Call to Action Wrapper End -->
  </div>
</div>