<!-- Footer Section Start -->
<div
  class="section footer-section"
  style="background-image: url(/assets/images/footer-bg.jpg)"
>
  <!-- Footer Widget Start -->
  <div class="footer-widget-section section-padding">
    <div class="container">
      <!-- Footer Widget Wrapper Start -->
      <div class="footer-widget-wrapper">
        <div class="row">
          <div class="col-lg-3 col-md-6 order-md-1 order-lg-1">
            <!-- Footer Widget Start -->
            <div class="footer-widget" data-aos="fade-up" data-aos-delay="100">
              <a class="footer-logo" href="#"
                ><img src="/assets/images/german.png" alt="Logo"
              /></a>
              <p>
                {{.Site.Params.webdescription}}
              </p>

              <div class="widget-info">
                <h6 class="title">Contact info</h6>
                <p>
                  {{.Site.Params.address}}
                </p>
                <p><span>Phone</span>: <a href="tel:{{.Site.Params.mobile}}">{{.Site.Params.mobile}}</a></p>
                <p><span>Email</span>: {{.Site.Params.email}}</p>
              </div>
            </div>
            <!-- Footer Widget End -->
          </div>
          <div class="col-lg-6 order-md-3 order-lg-2">
            <!-- Footer Link End -->
            <div class="footer-link-wrapper">
              <!-- Footer Widget Start -->
              <div
                class="footer-widget"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <h3 class="footer-widget-title">Quick Links</h3>
                <ul class="widget-link">
                  {{ range .Site.Menus.footer }}
                    <li>
                        <a href="{{.URL | absLangURL }}">{{.Name}}</a>
                    </li>
                  {{end}}
                </ul>
              </div>
              <!-- Footer Widget End -->

              <!-- Footer Widget Start -->
              <div
                class="footer-widget"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <h3 class="footer-widget-title">Information</h3>

                <ul class="widget-link">
                  {{ range .Site.Menus.info }}
                    <li>
                        <a href="{{.URL | absLangURL }}">{{.Name}}</a>
                    </li>
                  {{end}}
                </ul>
              </div>
              <!-- Footer Widget End -->
            </div>
            <!-- Footer Link End -->
          </div>
          <div class="col-lg-3 col-md-6 order-md-2 order-lg-3">
            <!-- Footer Widget Start -->
            <div class="footer-widget" data-aos="fade-up" data-aos-delay="400">
              

              <div class="widget-subscribe">
                <p>
                  
                </p>

                <div class="subscribe-form">
                  
                </div>
              </div>

              <div class="widget-opening">
                <h6 class="title">Working Hours</h6>
                <p>
                  Monday <i class="fa fa-long-arrow-right"></i> 9.30 am to 7.30 pm
                </p>
                <p>
                  Tuesday <i class="fa fa-long-arrow-right"></i> 9.30 am to 7.30 pm
                </p>
                <p>
                  Wednesday <i class="fa fa-long-arrow-right"></i> 9.30 am to 7.30 pm
                </p>
                <p>
                  Thursday <i class="fa fa-long-arrow-right"></i> 9.30 am to 7.30 pm
                </p>
                <p>
                  Friday <i class="fa fa-long-arrow-right"></i> 9.30 am to 7.30 pm
                </p>
                <p>
                  Saturday <i class="fa fa-long-arrow-right"></i> 9.30 am to 7.30 pm
                </p>
              </div>
            </div>
            <!-- Footer Widget End -->
          </div>
        </div>
      </div>
      <!-- Footer Widget Wrapper End -->
    </div>
  </div>
  <!-- Footer Widget End -->

  <!-- Footer Copyright End -->
  <div class="footer-copyright-section">
    <div class="container">
      <!-- Copyright Wrapper Start -->
      <div class="copyright-wrapper">
        <div class="copyright-text">
          <p>
            &copy; 2024 <span> German Motor Works </span> Made with
            <i class="fa fa-heart"></i> by <a href="https://two44software.com" target="_blank">two44software</a>
          </p>
        </div>

        <div class="copyright-social">
          <a href="#"><i class="fa fa-facebook-f"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
      </div>
      <!-- Copyright Wrapper End -->
    </div>
  </div>
  <!-- Footer Copyright End -->
</div>
<!-- Footer Section End -->

<!--Back To Start-->
<a href="#" class="back-to-top">
  <i class="icofont-simple-up"></i>
</a>
<!--Back To End-->
