<!-- Header Section Start -->
<div class="section header-section">

  <!-- Header top Start -->
  <div class="header-top d-none d-lg-block">
      <div class="container">

          <!-- Header top Wrapper Start -->
          <div class="header-top-wrapper">

              <!-- Header top Wrapper Start -->
              <div class="header-top-info">
                  <p>{{.Site.Params.address}}</p>
                  <p>Call us: <a href="tel:{{.Site.Params.mobile}}">{{.Site.Params.mobile}}</a></p>
              </div>
              <!-- Header top Wrapper End -->
          </div>
          <!-- Header top Wrapper End -->

      </div>
  </div>
  <!-- Header top End -->

  <!-- Header Main Start -->
  <div class="header-main">
      <div class="container">

          <!-- Header Main Start -->
          <div class="header-main-wrapper">

              <!-- Header Logo Start -->
              <div class="header-logo">
                  <a href="{{ .Site.BaseURL }}"><img src="/assets/images/german.png" alt="Logo"></a>
              </div>
              <!-- Header Logo End -->

              <!-- Header Menu Start -->
              <div class="primary-menu d-none d-lg-block">
                  <ul class="nav-menu">
                      {{ range .Site.Menus.main }}
                        <li>
                            <a href="{{ .URL | absLangURL }}">{{.Name}}</a>
                            {{ if .HasChildren }}
                                <ul class="sub-menu">
                                {{ range $index, $element := .Children }}
                                    <li><a href="{{ .URL | absLangURL }}">{{.Name}}</a></li>
                                {{end}}
                                </ul>
                            {{end}}
                            
                        </li>
                      {{end}}
                  </ul>
              </div>
              <!-- Header Menu End -->

              <!-- Header Meta Start -->
              <div class="header-meta">

                  <div class="header-toggle d-lg-none">
                      <button class="menu-toggle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                          <span></span>
                          <span></span>
                          <span></span>
                      </button>
                  </div>

              </div>
              <!-- Header Meta End -->

          </div>
          <!-- Header Main End -->

      </div>
  </div>
  <!-- Header Main End -->

</div>
<!-- Header Section End -->

<!-- Mobile Menu Start -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">

  <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">

      <!-- Header top Info Start -->
      <div class="header-top-info">
          <p>{{.Site.Params.address}}</p>
          <p>Call us: <a href="tel:{{.Site.Params.mobile}}">{{.Site.Params.mobile}}</a></p>
          <div class="header-logo">
            <a href="{{ .Site.BaseURL }}"><img src="/assets/images/logo_mobile.png" alt="Logo"></a>
          </div>
      </div>
      <!-- Header top Info End -->


      <!-- Mobile Menu Start -->
      <div class="mobile-menu-items">
        <ul class="nav-menu">
            {{ range .Site.Menus.main }}
              <li>
                  <a href="{{.URL}}">{{.Name}}</a>
                  {{ if .HasChildren }}
                      <ul class="sub-menu">
                      {{ range $index, $element := .Children }}
                          <li><a href="{{.URL | absLangURL }}">{{.Name}}</a></li>
                      {{end}}
                      </ul>
                  {{end}}
                  
              </li>
            {{end}}
        </ul>
      </div>
      <!-- Mobile Menu End -->

  </div>
</div>
<!-- Mobile Menu End -->