<div class="section">
  <div class="container">
    <div class="section-padding-02 position-relative">
      <img
        class="services-shape"
        src="/assets/images/services.png"
        alt="Service"
      />

      <!-- Section Title Start -->
      <div class="section-title text-center">
        <h5 class="sub-title">What we do</h5>
        <h2 class="main-title">
          Our expertise encompasses <br />
          a variety of services that we offer
        </h2>
      </div>
      <!-- Section Title End -->

      <!-- Service Wrapper Start -->
      <div class="service-wrapper">
        <div class="row gx-lg-5">
          <div class="col-lg-4 col-sm-6">
            <!-- Single Service Start -->
            <div class="single-service" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title">
                <a href="/services/brake-repairs">{{ .Site.Params.Service3 }}</a>
              </h4>
              <a href="/services/brake-repairs" class="more">Learn more</a>

              <div class="service-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 600 600"
                  style="enable-background: new 0 0 600 600"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      class="icon-path"
                      d="M308.62,162.75c-75.19,0-136.36,61.17-136.36,136.37c0,32.84,11.84,64.57,33.34,89.34
                                                c3,3.45,8.23,3.83,11.69,0.82c3.46-3,3.83-8.23,0.83-11.69c-18.88-21.76-29.29-49.63-29.29-78.48
                                                c0-66.06,53.74-119.79,119.79-119.79c66.05,0,119.8,53.73,119.8,119.79c0,66.05-53.74,119.79-119.8,119.79
                                                c-22.01,0-43.53-6.02-62.23-17.41c-3.91-2.38-9-1.15-11.39,2.77c-2.38,3.91-1.15,9.01,2.77,11.39
                                                c21.29,12.97,45.79,19.83,70.85,19.83c75.2,0,136.37-61.17,136.37-136.37C444.99,223.93,383.82,162.75,308.62,162.75L308.62,162.75
                                                z M308.62,162.75"
                    />
                    <path
                      class="icon-path"
                      d="M268.81,299.12c0,21.96,17.86,39.82,39.82,39.82c21.96,0,39.82-17.86,39.82-39.82
                                                c0-21.96-17.87-39.82-39.82-39.82C286.67,259.3,268.81,277.17,268.81,299.12L268.81,299.12z M308.62,275.87
                                                c12.82,0,23.25,10.43,23.25,23.25c0,12.81-10.43,23.24-23.25,23.24c-12.82,0-23.24-10.43-23.24-23.24
                                                C285.38,286.3,295.8,275.87,308.62,275.87L308.62,275.87z M308.62,275.87"
                    />
                    <path
                      class="icon-path"
                      d="M222.86,171.04c0,4.58-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C219.15,162.75,222.86,166.46,222.86,171.04L222.86,171.04z M222.86,171.04"
                    />
                    <path
                      class="icon-path"
                      d="M253.01,509.21c0,4.57-3.71,8.29-8.28,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C249.3,500.93,253.01,504.63,253.01,509.21L253.01,509.21z M253.01,509.21"
                    />
                    <path
                      class="icon-path"
                      d="M253.01,476.91c0,4.58-3.7,8.29-8.28,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C249.31,468.62,253.01,472.34,253.01,476.91L253.01,476.91z M253.01,476.91"
                    />
                    <path
                      class="icon-path"
                      d="M253.02,444.61c0,4.58-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C249.31,436.33,253.02,440.04,253.02,444.61L253.02,444.61z M253.02,444.61"
                    />
                    <path
                      class="icon-path"
                      d="M466.9,459.51c0,4.57-3.71,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C463.19,451.21,466.9,454.92,466.9,459.51L466.9,459.51z M466.9,459.51"
                    />
                    <path
                      class="icon-path"
                      d="M438.94,443.35c0,4.57-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C435.22,435.06,438.94,438.77,438.94,443.35L438.94,443.35z M438.94,443.35"
                    />
                    <path
                      class="icon-path"
                      d="M410.97,427.2c0,4.57-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C407.25,418.92,410.97,422.62,410.97,427.2L410.97,427.2z M410.97,427.2"
                    />
                    <path
                      class="icon-path"
                      d="M527,363.02c0,4.57-3.71,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C523.29,354.73,527,358.44,527,363.02L527,363.02z M527,363.02"
                    />
                    <path
                      class="icon-path"
                      d="M494.7,363.02c0,4.57-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C490.99,354.73,494.7,358.44,494.7,363.02L494.7,363.02z M494.7,363.02"
                    />
                    <path
                      class="icon-path"
                      d="M462.41,363.01c0,4.58-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C458.69,354.73,462.41,358.44,462.41,363.01L462.41,363.01z M462.41,363.01"
                    />
                    <path
                      class="icon-path"
                      d="M477.29,149.13c0,4.57-3.7,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C473.59,140.84,477.29,144.55,477.29,149.13L477.29,149.13z M477.29,149.13"
                    />
                    <path
                      class="icon-path"
                      d="M461.14,177.1c0,4.58-3.71,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C457.43,168.81,461.14,172.52,461.14,177.1L461.14,177.1z M461.14,177.1"
                    />
                    <path
                      class="icon-path"
                      d="M444.99,205.07c0,4.58-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.7-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C441.28,196.78,444.99,200.49,444.99,205.07L444.99,205.07z M444.99,205.07"
                    />
                    <path
                      class="icon-path"
                      d="M380.66,87.76c0.74,4.52-2.34,8.77-6.85,9.51c-4.52,0.73-8.77-2.34-9.51-6.85c-0.73-4.52,2.34-8.77,6.86-9.51
                                                C375.67,80.18,379.93,83.25,380.66,87.76L380.66,87.76z M380.66,87.76"
                    />
                    <path
                      class="icon-path"
                      d="M380.8,121.33c0,4.57-3.7,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C377.1,113.04,380.8,116.75,380.8,121.33L380.8,121.33z M380.8,121.33"
                    />
                    <path
                      class="icon-path"
                      d="M380.8,153.63c0,4.58-3.71,8.29-8.29,8.29c-4.57,0-8.29-3.7-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C377.09,145.34,380.8,149.05,380.8,153.63L380.8,153.63z M380.8,153.63"
                    />
                    <path
                      class="icon-path"
                      d="M295.36,148.35c3.96-2.29,5.32-7.36,3.03-11.32l-32.3-55.94c-2.28-3.96-7.35-5.32-11.32-3.03
                                                c-3.97,2.29-5.32,7.36-3.03,11.32l32.3,55.94C286.33,149.29,291.4,150.63,295.36,148.35L295.36,148.35z M295.36,148.35"
                    />
                    <path
                      class="icon-path"
                      d="M529.69,245.27c-2.28-3.96-7.35-5.32-11.32-3.03l-55.94,32.29c-3.96,2.29-5.32,7.36-3.03,11.32
                                                c2.29,3.97,7.36,5.32,11.32,3.04l55.94-32.3C530.62,254.3,531.98,249.23,529.69,245.27L529.69,245.27z M529.69,245.27"
                    />
                    <path
                      class="icon-path"
                      d="M321.89,449.89c-3.96,2.29-5.32,7.36-3.03,11.32l32.29,55.94c2.29,3.97,7.36,5.32,11.32,3.03
                                                c3.96-2.29,5.32-7.36,3.03-11.32l-32.3-55.94C330.93,448.96,325.86,447.61,321.89,449.89L321.89,449.89z M321.89,449.89"
                    />
                    <path
                      class="icon-path"
                      d="M332.57,219.31c0-13.21-10.74-23.94-23.95-23.94c-13.2,0-23.94,10.74-23.94,23.94s10.74,23.95,23.94,23.95
                                                C321.83,243.26,332.57,232.52,332.57,219.31L332.57,219.31z M301.25,219.31c0-4.06,3.31-7.37,7.37-7.37c4.07,0,7.37,3.31,7.37,7.37
                                                c0,4.07-3.3,7.37-7.37,7.37C304.56,226.68,301.25,223.38,301.25,219.31L301.25,219.31z M301.25,219.31"
                    />
                    <path
                      class="icon-path"
                      d="M263.46,259.21c0-13.21-10.74-23.94-23.95-23.94c-13.21,0-23.95,10.74-23.95,23.94
                                                c0,13.21,10.74,23.95,23.95,23.95C252.71,283.16,263.46,272.42,263.46,259.21L263.46,259.21z M232.14,259.21
                                                c0-4.06,3.31-7.37,7.37-7.37c4.07,0,7.37,3.31,7.37,7.37c0,4.07-3.3,7.38-7.37,7.38C235.45,266.59,232.14,263.28,232.14,259.21
                                                L232.14,259.21z M232.14,259.21"
                    />
                    <path
                      class="icon-path"
                      d="M239.84,363.16c13.21,0,23.95-10.74,23.95-23.94c0-13.2-10.74-23.95-23.95-23.95
                                                c-13.2,0-23.94,10.74-23.94,23.95C215.9,352.42,226.64,363.16,239.84,363.16L239.84,363.16z M239.84,331.85
                                                c4.07,0,7.38,3.31,7.38,7.38c0,4.06-3.31,7.37-7.38,7.37c-4.06,0-7.37-3.31-7.37-7.37C232.47,335.15,235.77,331.85,239.84,331.85
                                                L239.84,331.85z M239.84,331.85"
                    />
                    <path
                      class="icon-path"
                      d="M377.74,283.16c13.21,0,23.95-10.74,23.95-23.94c0-13.21-10.74-23.95-23.95-23.95
                                                c-13.2,0-23.94,10.74-23.94,23.95C353.8,272.42,364.53,283.16,377.74,283.16L377.74,283.16z M377.74,251.84
                                                c4.07,0,7.38,3.31,7.38,7.37c0,4.07-3.31,7.38-7.38,7.38c-4.06,0-7.37-3.31-7.37-7.38C370.37,255.15,373.68,251.84,377.74,251.84
                                                L377.74,251.84z M377.74,251.84"
                    />
                    <path
                      class="icon-path"
                      d="M377.41,363.16c13.2,0,23.95-10.74,23.95-23.94c0-13.2-10.74-23.95-23.95-23.95
                                                c-13.21,0-23.95,10.74-23.95,23.95C353.46,352.42,364.21,363.16,377.41,363.16L377.41,363.16z M377.41,331.85
                                                c4.07,0,7.37,3.31,7.37,7.38c0,4.06-3.3,7.37-7.37,7.37c-4.07,0-7.37-3.31-7.37-7.37C370.04,335.15,373.34,331.85,377.41,331.85
                                                L377.41,331.85z M377.41,331.85"
                    />
                    <path
                      class="icon-path"
                      d="M284.68,378.93c0,13.21,10.74,23.95,23.95,23.95c13.21,0,23.95-10.74,23.95-23.95
                                                c0-13.2-10.74-23.95-23.95-23.95C295.42,354.98,284.68,365.72,284.68,378.93L284.68,378.93z M316,378.93
                                                c0,4.06-3.31,7.37-7.38,7.37c-4.06,0-7.37-3.31-7.37-7.37c0-4.07,3.31-7.37,7.37-7.37C312.69,371.56,316,374.86,316,378.93
                                                L316,378.93z M316,378.93"
                    />
                    <path
                      class="icon-path"
                      d="M581.34,430.86l-27.19-27.19c-1.93-1.93-4.42-3.09-7.11-3.33c13.51-31.82,20.54-66.2,20.54-101.22
                                                c0-34.96-6.85-68.87-20.35-100.81c-1.78-4.21-6.65-6.19-10.86-4.4c-4.21,1.78-6.19,6.65-4.4,10.86
                                                c12.64,29.87,19.05,61.62,19.05,94.35c0,45.29-12.56,89.42-36.32,127.69l-60.32,60.32l-30.79-30.79c-2.18-2.18-5.07-3.38-8.16-3.38
                                                c-3.08,0-5.98,1.2-8.16,3.38l-27.18,27.19c-4.5,4.49-4.5,11.81,0,16.31l22.7,22.7c-29.77,12.59-61.39,18.96-94.16,18.96
                                                c-45.58,0-89.81-12.66-128.23-36.65V378.82c0-4.4-1.06-8.8-3.07-12.72c-10.69-20.87-16.12-43.41-16.12-66.98
                                                c0-23.57,5.43-46.11,16.12-66.99c2.01-3.92,3.07-8.33,3.07-12.72v-59.03c1.52,1.71,3.73,2.8,6.2,2.8c4.58,0,8.29-3.71,8.29-8.29
                                                c0-4.58-3.71-8.29-8.29-8.29c-2.47,0-4.68,1.08-6.2,2.8v-0.45c0-4.58-3.71-8.29-8.29-8.29c-4.58,0-8.29,3.71-8.29,8.29v70.47
                                                c0,1.78-0.43,3.57-1.25,5.17c-11.9,23.23-17.94,48.31-17.94,74.54c0,26.23,6.04,51.31,17.94,74.54c0.82,1.6,1.25,3.38,1.25,5.17
                                                c0-3.11,0,43.68,0,141.81c0,2.94-2.02,4.33-2.88,4.79c-0.87,0.46-3.16,1.35-5.6-0.31c-29.9-20.32-55.13-45.94-75-76.13
                                                c-9.23-14.03-14.11-30.4-14.11-47.33v-50.07c0-16.27-7.92-31.61-21.19-41.05c-5.88-4.18-9.39-10.98-9.39-18.18
                                                c0-7.2,3.51-14,9.39-18.18c13.27-9.44,21.19-24.79,21.19-41.05v-36.54c0-16.93,4.88-33.3,14.11-47.33
                                                c19.86-30.2,45.1-55.81,74.99-76.13c2.45-1.66,4.73-0.77,5.6-0.31c0.87,0.46,2.88,1.84,2.88,4.79c-0.01,32.34,0,6.23,0,32.68
                                                c0,4.58,3.71,8.29,8.29,8.29c4.58,0,8.29-3.71,8.29-8.29V93.38c38.42-23.99,82.65-36.66,128.23-36.66
                                                c84.24,0,161.18,42.73,205.81,114.29c2.42,3.87,7.52,5.08,11.42,2.65c3.88-2.42,5.06-7.53,2.64-11.42
                                                c-22.85-36.63-54.76-67.24-92.28-88.53c-77.95-44.21-175.78-45.45-256.07,0.51c-1.05-6.8-5.24-12.77-11.44-16.06
                                                c-7.23-3.82-15.91-3.34-22.67,1.25c-31.71,21.55-58.47,48.71-79.53,80.73c-11.01,16.74-16.84,36.26-16.84,56.44v36.54
                                                c0,10.91-5.32,21.22-14.23,27.55c-10.24,7.29-16.35,19.13-16.35,31.68c0,12.55,6.11,24.39,16.35,31.68
                                                c8.91,6.34,14.23,16.63,14.23,27.55v50.07c0,20.18,5.82,39.7,16.84,56.44c21.06,32.02,47.82,59.18,79.53,80.73
                                                c3.73,2.53,8.04,3.81,12.36,3.81c10.69,0,20.08-7.77,21.75-18.62c39.01,22.33,83.12,34.07,128.48,34.07
                                                c37.27,0,73.15-7.72,106.74-22.96l30.84,30.85c2.18,2.18,5.08,3.38,8.16,3.38c3.08,0,5.98-1.2,8.16-3.38l118.81-118.8
                                                C585.83,442.67,585.83,435.35,581.34,430.86L581.34,430.86z M454.37,550.7l-31.28-31.28c-0.08-0.08-0.15-0.15-0.24-0.23l-27.5-27.5
                                                l20.06-20.06l30.79,30.79c2.18,2.18,5.08,3.38,8.16,3.38c3.08,0,5.98-1.2,8.16-3.38c66.15-66.15,64.56-64.55,64.67-64.66l18.8-18.8
                                                l20.06,20.06L454.37,550.7z M454.37,550.7"
                    />
                    <path
                      class="icon-path"
                      d="M149.15,389.85c4.07-2.08,5.68-7.08,3.6-11.15c-12.53-24.46-19.15-51.98-19.15-79.57
                                                c0-27.6,6.62-55.12,19.15-79.58c2.08-4.07,0.48-9.07-3.6-11.15c-4.07-2.09-9.07-0.48-11.16,3.6
                                                c-13.72,26.78-20.98,56.92-20.98,87.14c0,30.21,7.26,60.35,20.98,87.13C140.07,390.31,145.06,391.95,149.15,389.85L149.15,389.85z
                                                M149.15,389.85"
                    />
                    <path
                      class="icon-path"
                      d="M54.73,292.36c0,14.12,11.5,25.61,25.62,25.61c14.13,0,25.62-11.49,25.62-25.61
                                                c0-14.13-11.49-25.62-25.62-25.62C66.23,266.74,54.73,278.23,54.73,292.36L54.73,292.36z M89.39,292.36c0,4.98-4.05,9.04-9.04,9.04
                                                c-4.98,0-9.04-4.06-9.04-9.04c0-4.99,4.06-9.05,9.04-9.05C85.34,283.31,89.39,287.37,89.39,292.36L89.39,292.36z M89.39,292.36"
                    />
                    <path
                      class="icon-path"
                      d="M133.59,166.45c0-12.18-9.91-22.09-22.1-22.09c-12.19,0-22.1,9.91-22.1,22.09c0,12.19,9.91,22.1,22.1,22.1
                                                C123.67,188.55,133.59,178.64,133.59,166.45L133.59,166.45z M105.96,166.45c0-3.04,2.48-5.52,5.52-5.52c3.04,0,5.52,2.48,5.52,5.52
                                                c0,3.05-2.48,5.53-5.52,5.53C108.44,171.98,105.96,169.5,105.96,166.45L105.96,166.45z M105.96,166.45"
                    />
                    <path
                      class="icon-path"
                      d="M111.49,440.36c12.19,0,22.1-9.91,22.1-22.1c0-12.19-9.91-22.09-22.1-22.09c-12.19,0-22.1,9.91-22.1,22.09
                                                C89.39,430.44,99.3,440.36,111.49,440.36L111.49,440.36z M111.49,412.73c3.04,0,5.52,2.48,5.52,5.52c0,3.05-2.48,5.52-5.52,5.52
                                                c-3.04,0-5.52-2.47-5.52-5.52C105.96,415.21,108.44,412.73,111.49,412.73L111.49,412.73z M111.49,412.73"
                    />
                  </g>
                </svg>
              </div>
            </div>
            <!-- Single Service End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Service Start -->
            <div class="single-service" data-aos="fade-up" data-aos-delay="400">
              <h4 class="title">
                <a href="/services/engine-diagnostics"
                  >{{ .Site.Params.Service2 }}
              </h4>
              <a href="/services/engine-diagnostics" class="more">Learn more</a>

              <div class="service-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 600 600"
                  style="enable-background: new 0 0 600 600"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      class="icon-path"
                      d="M576.2,171.69L475.92,71.4c-14.6-14.6-37.24-16.3-53.86-4.05l-54.18,39.95c-1.96,1.45-3.2,3.69-3.38,6.12
                                            c-0.18,2.44,0.7,4.83,2.44,6.56l13.05,13.05l-57.35,57.36h-41.22l-57.36-57.36l13.06-13.06c1.73-1.73,2.62-4.13,2.44-6.56
                                            c-0.18-2.44-1.42-4.67-3.38-6.12l-54.18-39.94c-16.6-12.25-39.26-10.55-53.85,4.05l-15.88,15.88c-3.28,3.27-3.28,8.59,0,11.86
                                            c3.27,3.27,8.59,3.27,11.86,0l15.88-15.88c8.69-8.69,22.16-9.7,32.04-2.41l18.03,13.29L50.57,233.62L37.29,215.6
                                            c-7.28-9.89-6.27-23.38,2.41-32.06l60.69-60.68c3.28-3.27,3.28-8.58,0-11.86c-3.27-3.27-8.59-3.27-11.86,0l-60.69,60.68
                                            c-14.59,14.59-16.29,37.24-4.05,53.87l39.95,54.18c1.45,1.97,3.69,3.21,6.12,3.39c0.21,0.01,0.42,0.02,0.63,0.02
                                            c2.22,0,4.35-0.88,5.93-2.46l13.06-13.06l9.74,9.74c-20.58,17.71-32.62,43.58-32.62,70.97c0,44.98,32.1,83.38,75.65,91.89
                                            c4.74,25.09,22.61,45.6,46.19,54.06v30.13c0,13.78,11.2,24.99,24.98,24.99c10.84,0,20.08-6.94,23.54-16.6h12.01
                                            c3.45,9.66,12.69,16.6,23.52,16.6c10.84,0,20.08-6.94,23.54-16.6h12.01c3.45,9.66,12.7,16.59,23.53,16.59
                                            c10.84,0,20.08-6.93,23.53-16.59h12.01c3.45,9.66,12.7,16.59,23.53,16.59c13.78,0,24.98-11.2,24.98-24.98v-65.95
                                            c13.16-1.81,24.98-7.84,34.07-16.66c16.77-1.05,32.89-6.58,46.8-16.08c3.82-2.61,4.81-7.83,2.2-11.66
                                            c-2.61-3.82-7.83-4.81-11.66-2.19c-7.37,5.03-15.49,8.69-24.03,10.9c2.7-6.04,4.43-12.6,5.02-19.48
                                            c21.66-9.52,35.85-30.9,35.85-54.95c0-18.62-8.55-35.86-22.87-47.14l11.93-11.93c17.49,14.56,27.75,36.17,27.75,59.07
                                            c0,14.99-4.34,29.52-12.55,42.03c-2.54,3.88-1.46,9.07,2.41,11.62c1.42,0.93,3.01,1.38,4.6,1.38c2.73,0,5.41-1.33,7.02-3.79
                                            c10.01-15.25,15.3-32.97,15.3-51.24c0-27.4-12.04-53.26-32.62-70.96l9.75-9.75l13.06,13.06c1.58,1.58,3.71,2.45,5.93,2.45
                                            c0.2,0,0.41,0,0.62-0.02c2.44-0.18,4.67-1.42,6.12-3.39l39.95-54.17C592.5,208.93,590.8,186.28,576.2,171.69L576.2,171.69z
                                            M440.96,249.16c0-2.1,0.82-4.08,2.31-5.58l23.64-23.63l11.15,11.15l-23.63,23.64c-1.49,1.49-3.47,2.31-5.58,2.31
                                            c-2.1,0-4.09-0.82-5.58-2.31C441.78,253.25,440.96,251.27,440.96,249.16L440.96,249.16z M420.2,173.25l7.45,7.45l-23.63,23.63
                                            c-1.49,1.49-3.47,2.31-5.58,2.31c-2.1,0-4.09-0.82-5.58-2.31c-3.07-3.07-3.07-8.08,0-11.15l23.64-23.63L420.2,173.25z
                                            M391.85,144.89l12.79,12.8l-23.63,23.63c-9.61,9.61-9.61,25.26,0,34.87c4.66,4.66,10.85,7.22,17.43,7.22
                                            c6.59,0,12.78-2.57,17.44-7.22l23.63-23.63l15.53,15.53l-23.64,23.64c-4.66,4.66-7.22,10.85-7.22,17.43s2.56,12.78,7.22,17.44
                                            c4.66,4.66,10.85,7.22,17.44,7.22c6.58,0,12.78-2.56,17.43-7.22l23.64-23.64l12.79,12.8l-53.88,53.88L337.97,198.78L391.85,144.89z
                                            M356.54,459.05h9.11v56.96h-9.11V459.05z M298.96,442.28l47.28-46.41c-0.02,0.71-0.06,1.43-0.06,2.15
                                            c0,17.42,7.35,33.14,19.08,44.27H298.96z M238.39,493.59c3.15-1.22,6.19-2.66,9.11-4.3v26.73h-9.11V493.59z M297.46,459.05h9.11
                                            v56.96h-9.11V459.05z M283.7,433.75c0.21-2.24,0.33-4.52,0.33-6.82c0-39.44-32.09-71.53-71.52-71.53c-1.55,0-3.08,0.06-4.6,0.16
                                            l46.77-45.73c1.75,24.59,22.3,44.08,47.34,44.08c26.18,0,47.48-21.3,47.48-47.48c0-1.12-0.05-2.23-0.13-3.33l48.11,34.66
                                            c-12.92,2.08-24.5,8.23-33.37,17.08l0.01-0.05L283.7,433.75z M135.02,313.17l12.84,12.84l15.73,48.82
                                            c-4.92,4.62-9.19,9.92-12.65,15.76c-19.44-4.31-33.99-21.93-33.99-42.26C116.94,334.24,123.74,321.25,135.02,313.17L135.02,313.17z
                                            M302.02,275.74c16.93,0,30.7,13.77,30.7,30.7c0,16.93-13.77,30.7-30.7,30.7s-30.7-13.77-30.7-30.7
                                            C271.32,289.51,285.09,275.74,302.02,275.74L302.02,275.74z M433.1,342.75c0,0-101.41-73.37-102.59-74.26
                                            c-7.94-5.98-17.81-9.52-28.49-9.52c-12.35,0-23.62,4.74-32.07,12.5l-92.81,90.73l-12.36-38.39l116.64-116.64h41.22l116.64,116.64
                                            l-6.11,18.97C433.14,342.77,433.12,342.76,433.1,342.75L433.1,342.75z M137.13,219.95l23.64,23.64c1.49,1.49,2.31,3.47,2.31,5.57
                                            c0,2.11-0.82,4.08-2.31,5.58c-1.49,1.49-3.47,2.31-5.58,2.31c-2.11,0-4.08-0.82-5.58-2.31l-23.63-23.64L137.13,219.95z
                                            M71.45,261.92l-10.8-14.65l143.06-143.06L218.35,115L71.45,261.92z M114.12,242.97l23.63,23.63c4.66,4.66,10.85,7.22,17.44,7.22
                                            c6.58,0,12.78-2.56,17.43-7.22c4.66-4.66,7.23-10.85,7.23-17.44s-2.56-12.78-7.23-17.43L149,208.09l0.19-0.19l15.34-15.34
                                            l23.63,23.63c4.66,4.66,10.85,7.22,17.43,7.22c6.59,0,12.78-2.57,17.44-7.22c9.61-9.61,9.61-25.26,0-34.87l-23.63-23.63l12.79-12.8
                                            l53.88,53.88L155.21,309.64l-53.88-53.88L114.12,242.97z M187.54,169.55l23.63,23.63c3.08,3.07,3.08,8.08,0,11.15
                                            c-1.49,1.49-3.47,2.31-5.58,2.31c-2.1,0-4.08-0.82-5.57-2.31l-23.63-23.63L187.54,169.55z M83.36,348.33
                                            c0-22.9,10.26-44.51,27.75-59.08l11.93,11.93c-14.32,11.28-22.88,28.52-22.88,47.14c0,15.06,5.62,29.47,15.82,40.58
                                            c7.66,8.34,17.38,14.27,28.07,17.26c-1.61,5.31-2.62,10.87-2.95,16.61C107.6,414.19,83.36,383.74,83.36,348.33L83.36,348.33z
                                            M157.76,426.93c0-30.19,24.56-54.75,54.75-54.75c30.19,0,54.75,24.56,54.75,54.75c0,30.19-24.56,54.75-54.75,54.75
                                            C182.32,481.69,157.76,457.12,157.76,426.93L157.76,426.93z M213.4,532.62c-4.52,0-8.2-3.69-8.2-8.22v-26.32
                                            c2.41,0.24,4.84,0.37,7.31,0.37c3.09,0,6.12-0.22,9.11-0.6v26.54C221.62,528.93,217.93,532.62,213.4,532.62L213.4,532.62z
                                            M272.47,532.62c-4.52,0-8.2-3.69-8.2-8.22v-48.07l16.41-16.12v64.19C280.69,528.93,277.01,532.62,272.47,532.62L272.47,532.62z
                                            M331.56,532.62c-4.52,0-8.2-3.68-8.2-8.21v-65.35h16.41v65.35C339.77,528.93,336.08,532.62,331.56,532.62L331.56,532.62z
                                            M390.63,532.62c-4.53,0-8.2-3.68-8.2-8.21v-65.35h16.41v65.35C398.84,528.93,395.16,532.62,390.63,532.62L390.63,532.62z
                                            M407.23,442.27c-24.4,0-44.26-19.85-44.26-44.26c0-24.4,19.85-44.26,44.26-44.26c24.41,0,44.26,19.85,44.26,44.26
                                            C451.48,422.42,431.63,442.27,407.23,442.27L407.23,442.27z M487.09,348.33c0,15.16-7.83,28.86-20.25,36.64
                                            c-2.8-12.84-9.66-24.17-19.15-32.6l8.49-26.36l12.84-12.84C480.29,321.25,487.09,334.24,487.09,348.33L487.09,348.33z
                                            M532.59,261.92L385.69,115.01l14.65-10.8l143.06,143.06L532.59,261.92z M566.75,215.59l-13.29,18.03L413.99,94.14l18.02-13.29
                                            c9.88-7.29,23.36-6.28,32.04,2.41l100.29,100.29C573.02,192.23,574.04,205.71,566.75,215.59L566.75,215.59z M566.75,215.59"
                    />
                    <path
                      class="icon-path"
                      d="M237.83,426.93c0-13.96-11.36-25.32-25.32-25.32c-13.96,0-25.32,11.36-25.32,25.32
                                            c0,13.96,11.36,25.32,25.32,25.32C226.47,452.25,237.83,440.89,237.83,426.93L237.83,426.93z M203.97,426.93
                                            c0-4.71,3.83-8.54,8.54-8.54c4.71,0,8.54,3.83,8.54,8.54c0,4.71-3.83,8.54-8.54,8.54C207.8,435.47,203.97,431.64,203.97,426.93
                                            L203.97,426.93z M203.97,426.93"
                    />
                    <path
                      class="icon-path"
                      d="M407.23,372.7c-13.96,0-25.32,11.36-25.32,25.32c0,13.96,11.36,25.32,25.32,25.32
                                            c13.96,0,25.32-11.36,25.32-25.32C432.54,384.05,421.19,372.7,407.23,372.7L407.23,372.7z M407.23,406.56
                                            c-4.71,0-8.54-3.83-8.54-8.54s3.83-8.54,8.54-8.54c4.71,0,8.54,3.83,8.54,8.54S411.93,406.56,407.23,406.56L407.23,406.56z
                                            M407.23,406.56"
                    />
                  </g>
                </svg>
              </div>
            </div>
            <!-- Single Service End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Service Start -->
            <div class="single-service" data-aos="fade-up" data-aos-delay="600">
              <h4 class="title">
                <a href="/services/routine-maintenance"
                  >{{.Site.Params.service1}}</a
                >
              </h4>
              <a href="/services/routine-maintenance" class="more">Learn more</a>

              <div class="service-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 600 600"
                  style="enable-background: new 0 0 600 600"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      class="icon-path"
                      d="M185.36,412.67c-15.77,0-28.6,12.83-28.6,28.59c0,15.77,12.83,28.6,28.6,28.6h20.17
                                                c15.77,0,28.6-12.83,28.6-28.6c0-15.77-12.83-28.59-28.6-28.59H185.36z M218.61,441.26c0,7.21-5.87,13.07-13.08,13.07h-20.18
                                                c-7.21,0-13.07-5.86-13.07-13.07c0-7.21,5.86-13.08,13.07-13.08h20.18C212.74,428.18,218.61,434.05,218.61,441.26L218.61,441.26z
                                                M218.61,441.26"
                    />
                    <path
                      class="icon-path"
                      d="M405.67,469.86h20.18c15.77,0,28.6-12.83,28.6-28.6c0-15.77-12.83-28.6-28.6-28.6h-20.18
                                                c-15.77,0-28.6,12.83-28.6,28.6C377.07,457.03,389.9,469.86,405.67,469.86L405.67,469.86z M405.67,428.18h20.18
                                                c7.21,0,13.07,5.87,13.07,13.08c0,7.21-5.86,13.08-13.07,13.08h-20.18c-7.21,0-13.08-5.87-13.08-13.08
                                                C392.59,434.05,398.46,428.18,405.67,428.18L405.67,428.18z M405.67,428.18"
                    />
                    <path
                      class="icon-path"
                      d="M265.51,434.9h74.43c4.29,0,7.76-3.47,7.76-7.76c0-4.29-3.47-7.75-7.76-7.75h-74.43
                                                c-4.28,0-7.75,3.47-7.75,7.75C257.76,431.43,261.23,434.9,265.51,434.9L265.51,434.9z M265.51,434.9"
                    />
                    <path
                      class="icon-path"
                      d="M265.51,463.14h74.43c4.29,0,7.76-3.47,7.76-7.76c0-4.29-3.47-7.76-7.76-7.76h-74.43
                                                c-4.28,0-7.75,3.48-7.75,7.76C257.76,459.67,261.23,463.14,265.51,463.14L265.51,463.14z M265.51,463.14"
                    />
                    <path
                      class="icon-path"
                      d="M224.97,194.3v-11.87c0-4.29-3.48-7.76-7.76-7.76c-4.29,0-7.76,3.47-7.76,7.76v11.87
                                                c0,4.29,3.48,7.76,7.76,7.76C221.49,202.06,224.97,198.59,224.97,194.3L224.97,194.3z M224.97,194.3"
                    />
                    <path
                      class="icon-path"
                      d="M283.89,194.3v-11.87c0-4.29-3.47-7.76-7.75-7.76c-4.29,0-7.76,3.47-7.76,7.76v11.87
                                                c0,4.29,3.47,7.76,7.76,7.76C280.42,202.06,283.89,198.59,283.89,194.3L283.89,194.3z M283.89,194.3"
                    />
                    <path
                      class="icon-path"
                      d="M342.82,194.3v-11.87c0-4.29-3.47-7.76-7.76-7.76c-4.28,0-7.75,3.47-7.75,7.76v11.87
                                                c0,4.29,3.47,7.76,7.75,7.76C339.35,202.06,342.82,198.59,342.82,194.3L342.82,194.3z M342.82,194.3"
                    />
                    <path
                      class="icon-path"
                      d="M401.75,194.3v-11.87c0-4.29-3.47-7.76-7.76-7.76c-4.28,0-7.76,3.47-7.76,7.76v11.87
                                                c0,4.29,3.48,7.76,7.76,7.76C398.28,202.06,401.75,198.59,401.75,194.3L401.75,194.3z M401.75,194.3"
                    />
                    <path
                      class="icon-path"
                      d="M246.67,228.62c4.29,0,7.76-3.48,7.76-7.76v-11.88c0-4.28-3.47-7.76-7.76-7.76c-4.28,0-7.76,3.48-7.76,7.76
                                                v11.88C238.91,225.15,242.38,228.62,246.67,228.62L246.67,228.62z M246.67,228.62"
                    />
                    <path
                      class="icon-path"
                      d="M313.36,220.86v-11.88c0-4.28-3.48-7.76-7.76-7.76c-4.28,0-7.76,3.48-7.76,7.76v11.88
                                                c0,4.29,3.48,7.76,7.76,7.76C309.88,228.62,313.36,225.15,313.36,220.86L313.36,220.86z M313.36,220.86"
                    />
                    <path
                      class="icon-path"
                      d="M372.29,220.86v-11.88c0-4.28-3.48-7.76-7.76-7.76c-4.29,0-7.76,3.48-7.76,7.76v11.88
                                                c0,4.29,3.47,7.76,7.76,7.76C368.81,228.62,372.29,225.15,372.29,220.86L372.29,220.86z M372.29,220.86"
                    />
                    <path
                      class="icon-path"
                      d="M497.57,401.22c0-13.27-10.79-24.07-24.06-24.07h-4.76L460,356.48c1.51-1.11,2.79-2.53,3.72-4.23l6.72-12.29
                                                l12.29-6.72c4.14-2.27,6.72-6.61,6.72-11.33c0-4.73-2.58-9.07-6.72-11.33l-12.29-6.72l-6.72-12.29c0-0.01,0-0.01,0-0.01
                                                c-2.27-4.14-6.61-6.71-11.33-6.71c-4.73,0-9.07,2.58-11.33,6.72l-4.81,8.79l-14.1-33.3c-6.38-15.07-21.08-24.82-37.46-24.82H242.62
                                                c-1.16-2.35-3.02-4.34-5.4-5.64l-12.29-6.72l-6.72-12.29c-2.27-4.14-6.61-6.72-11.34-6.72c-4.73,0-9.07,2.58-11.33,6.72
                                                l-6.72,12.29l-12.29,6.72c-4.14,2.26-6.72,6.61-6.72,11.33c0,4.73,2.58,9.07,6.72,11.33l12.29,6.72c0.24,0.45,0.27,0.99,0.07,1.46
                                                c-3.62,8.53-37.01,87.42-46.45,109.72h-4.76c-13.27,0-24.06,10.79-24.06,24.07v80.08c0,13.27,10.79,24.06,24.06,24.06h22.68v23.95
                                                c0,22.08,17.96,40.04,40.04,40.04s40.04-17.96,40.04-40.04v-23.95h37.25c4.29,0,7.76-3.47,7.76-7.75c0-4.29-3.47-7.76-7.76-7.76
                                                H137.68c-4.72,0-8.55-3.83-8.55-8.55v-80.08c0-4.72,3.83-8.55,8.55-8.55h335.83c4.71,0,8.55,3.83,8.55,8.55v80.08
                                                c0,4.72-3.84,8.55-8.55,8.55H308.72c-4.29,0-7.76,3.47-7.76,7.76c0,4.28,3.47,7.75,7.76,7.75h62.04v23.95
                                                c0,22.08,17.96,40.04,40.04,40.04s40.03-17.96,40.03-40.04v-23.95h22.68c13.27,0,24.06-10.79,24.06-24.06V401.22z M224.92,505.37
                                                v23.95c0,13.52-11,24.53-24.52,24.53c-13.53,0-24.53-11.01-24.53-24.53v-23.95H224.92z M447.57,311.97l4.81-8.79l4.81,8.78
                                                c1.19,2.18,2.96,3.95,5.14,5.14l8.78,4.81l-8.79,4.81c-2.17,1.19-3.95,2.96-5.13,5.14l-4.81,8.78l-4.81-8.79
                                                c-1.19-2.17-2.96-3.95-5.13-5.13l-8.79-4.81C440.54,317.71,444.78,317.07,447.57,311.97L447.57,311.97z M188.16,247.93l8.78-4.81
                                                c2.17-1.19,3.95-2.96,5.14-5.13l4.8-8.79l4.81,8.79c1.19,2.17,2.96,3.95,5.13,5.14l8.79,4.8l-8.79,4.81
                                                c-2.18,1.19-3.95,2.96-5.13,5.14l-4.81,8.78l-4.81-8.78c-1.19-2.17-2.96-3.95-5.13-5.14L188.16,247.93z M199.49,377.15l33.59-81.96
                                                c0.38-0.93,1.27-1.52,2.27-1.52h140.49c1,0,1.9,0.6,2.28,1.52l33.59,81.96H199.49z M428.48,377.15l-36-87.84
                                                c-2.78-6.78-9.31-11.17-16.64-11.17H235.35c-7.33,0-13.86,4.38-16.64,11.17l-35.99,87.84H159.3l40.04-94.6
                                                c2.16,1.55,4.78,2.43,7.54,2.43c4.72,0,9.07-2.57,11.33-6.72l6.72-12.29l12.29-6.72c0.79-0.43,1.52-0.94,2.19-1.5h145.28
                                                c10.13,0,19.22,6.02,23.16,15.35l15.55,36.73l-1.36,0.74c-4.15,2.26-6.72,6.61-6.72,11.33c0,4.72,2.57,9.06,6.72,11.33l12.28,6.72
                                                l6.72,12.29c2.41,4.41,6.34,14.5,10.85,24.9H428.48z M435.32,529.32c0,13.52-11,24.53-24.52,24.53
                                                c-13.52,0-24.53-11.01-24.53-24.53v-23.95h49.05V529.32z M435.32,529.32"
                    />
                    <path
                      class="icon-path"
                      d="M570.48,78.42c0-21.36-17.37-38.73-38.73-38.73h-52.64c-4.29,0-7.76,3.47-7.76,7.75
                                                c0,4.29,3.47,7.76,7.76,7.76h52.64c12.79,0,23.21,10.41,23.21,23.21v4.79H56.23v-4.79c0-12.8,10.41-23.21,23.21-23.21H448.1
                                                c4.29,0,7.76-3.47,7.76-7.76c0-4.28-3.48-7.75-7.76-7.75H79.44c-21.35,0-38.73,17.37-38.73,38.73c0.01,3.79-0.01-15.53,0.04,47.5
                                                c0,4.29,3.47,7.76,7.75,7.76h12.36V269.8H48.5c-4.28,0-7.75,3.47-7.75,7.76c0,4.29,3.47,7.75,7.75,7.75h12.36v15.48H48.5
                                                c-4.28,0-7.75,3.47-7.75,7.76c0,4.28,3.47,7.75,7.75,7.75h12.36v15.48H48.5c-4.28,0-7.75,3.47-7.75,7.76
                                                c0,4.28,3.47,7.76,7.75,7.76h12.36v15.47H48.5c-4.28,0-7.75,3.48-7.75,7.76c0,4.28,3.47,7.76,7.75,7.76h12.36v15.48H48.5
                                                c-4.28,0-7.75,3.47-7.75,7.76c0,4.29,3.47,7.76,7.75,7.76h12.36v15.48H48.5c-4.28,0-7.75,3.47-7.75,7.76
                                                c0,4.29,3.47,7.76,7.75,7.76h12.36v15.47H48.5c-4.28,0-7.75,3.48-7.75,7.76c0,4.29,3.47,7.76,7.75,7.76h12.36v15.47H48.5
                                                c-4.28,0-7.75,3.48-7.75,7.76c0,4.28,3.47,7.76,7.75,7.76h12.36v15.47H48.5c-4.28,0-7.75,3.48-7.75,7.76
                                                c0,4.29,3.47,7.76,7.75,7.76h12.36v28.34c0,4.28,3.47,7.75,7.76,7.75c4.29,0,7.76-3.47,7.76-7.75v-28.34h14.45
                                                c4.29,0,7.76-3.47,7.76-7.76c0-4.29-3.47-7.76-7.76-7.76H76.38v-15.47h14.46c4.28,0,7.75-3.48,7.75-7.76
                                                c0-4.29-3.47-7.76-7.75-7.76H76.38v-15.47h14.46c4.28,0,7.75-3.48,7.75-7.76c0-4.28-3.47-7.76-7.75-7.76H76.38v-15.47h14.46
                                                c4.28,0,7.75-3.48,7.75-7.76c0-4.29-3.47-7.76-7.75-7.76H76.38v-15.48h14.46c4.28,0,7.75-3.47,7.75-7.76
                                                c0-4.29-3.47-7.76-7.75-7.76H76.38V378.3h14.46c4.28,0,7.75-3.47,7.75-7.76c0-4.29-3.47-7.76-7.75-7.76H76.38V347.3h14.46
                                                c4.28,0,7.75-3.48,7.75-7.76c0-4.29-3.47-7.76-7.75-7.76H76.38v-15.47h14.46c4.28,0,7.75-3.48,7.75-7.76
                                                c0-4.29-3.47-7.76-7.75-7.76H76.38v-15.47h14.46c4.28,0,7.75-3.48,7.75-7.76c0-4.29-3.47-7.76-7.75-7.76H76.38V133.68h12.49
                                                c3.44,0,6.46-2.26,7.44-5.56l8.7-29.4h28.75v26.99c0,4.28,3.47,7.76,7.76,7.76h28.61l15.33,19.66c6.27,8.04,15.7,12.65,25.89,12.65
                                                h33.99c4.29,0,7.76-3.48,7.76-7.76c0-4.28-3.48-7.76-7.76-7.76h-33.99c-5.37,0-10.35-2.43-13.65-6.67l-7.9-10.12h231.58l-7.9,10.12
                                                c-3.3,4.24-8.27,6.67-13.65,6.67H276.36c-4.29,0-7.76,3.48-7.76,7.76c0,4.29,3.47,7.76,7.76,7.76h123.48
                                                c10.19,0,19.62-4.61,25.89-12.64l15.33-19.67h28.61c4.29,0,7.76-3.48,7.76-7.76V98.73h28.78l8.7,29.4c0.98,3.29,4,5.56,7.44,5.56
                                                h12.49V269.8h-14.46c-4.28,0-7.76,3.47-7.76,7.76c0,4.29,3.48,7.75,7.76,7.75h14.46v15.48h-14.46c-4.28,0-7.76,3.47-7.76,7.76
                                                c0,4.28,3.48,7.75,7.76,7.75h14.46v15.48h-14.46c-4.28,0-7.76,3.47-7.76,7.76c0,4.28,3.48,7.76,7.76,7.76h14.46v15.47h-14.46
                                                c-4.28,0-7.76,3.48-7.76,7.76c0,4.28,3.48,7.76,7.76,7.76h14.46v15.48h-14.46c-4.28,0-7.76,3.47-7.76,7.76
                                                c0,4.29,3.48,7.76,7.76,7.76h14.46v15.48h-14.46c-4.28,0-7.76,3.47-7.76,7.76c0,4.29,3.48,7.76,7.76,7.76h14.46v15.47h-14.46
                                                c-4.28,0-7.76,3.48-7.76,7.76c0,4.29,3.48,7.76,7.76,7.76h14.46v15.47h-14.46c-4.28,0-7.76,3.48-7.76,7.76
                                                c0,4.28,3.48,7.76,7.76,7.76h14.46v15.47h-14.46c-4.28,0-7.76,3.48-7.76,7.76c0,4.29,3.48,7.76,7.76,7.76h14.46v28.34
                                                c0,4.28,3.47,7.75,7.76,7.75c4.28,0,7.75-3.47,7.75-7.75v-28.34h12.36c4.28,0,7.76-3.47,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76
                                                h-12.36v-15.47h12.36c4.28,0,7.76-3.48,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36v-15.47h12.36c4.28,0,7.76-3.48,7.76-7.76
                                                c0-4.28-3.48-7.76-7.76-7.76h-12.36v-15.47h12.36c4.28,0,7.76-3.48,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36v-15.48h12.36
                                                c4.28,0,7.76-3.47,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36V378.3h12.36c4.28,0,7.76-3.47,7.76-7.76
                                                c0-4.29-3.48-7.76-7.76-7.76h-12.36V347.3h12.36c4.28,0,7.76-3.48,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36v-15.47h12.36
                                                c4.28,0,7.76-3.48,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36v-15.47h12.36c4.28,0,7.76-3.48,7.76-7.76
                                                c0-4.29-3.48-7.76-7.76-7.76h-12.36V133.68h12.36c4.28,0,7.76-3.48,7.76-7.76V78.42z M83.07,118.16H56.26V98.73h32.56L83.07,118.16
                                                z M461.92,117.95H149.28V98.73h312.65V117.95z M554.96,118.16h-26.81l-5.75-19.43h32.56V118.16z M554.96,118.16"
                    />
                  </g>
                </svg>
              </div>
            </div>
            <!-- Single Service End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Service Start -->
            <div class="single-service" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title">
                <a href="/services/electrical-system-checks"
                  >{{.Site.Params.service6}}</a
                >
              </h4>
              <a href="/services/electrical-system-checks" class="more">Learn more</a>

              <div class="service-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 600 600"
                  style="enable-background: new 0 0 600 600"
                  xml:space="preserve"
                >
                  <style type="text/css">
                    .st3 {
                      fill: #ffffff;
                    }
                  </style>
                  <path
                    class="icon-path"
                    d="M142.35,23.3H106.2c-14.95,0-27.11,12.16-27.11,27.11v18.07h90.37V50.41C169.46,35.46,157.3,23.3,142.35,23.3
                                        L142.35,23.3z M142.35,23.3"
                  />
                  <path
                    class="icon-path"
                    d="M503.84,23.3h-36.15c-14.95,0-27.11,12.16-27.11,27.11v18.07h90.37V50.41C530.95,35.46,518.79,23.3,503.84,23.3
                                        L503.84,23.3z M503.84,23.3"
                  />
                  <path
                    class="icon-path"
                    d="M395.39,475.17H214.65c-14.95,0-27.11-12.16-27.11-27.11v-216.9c0-14.95,12.16-27.11,27.11-27.11h180.75
                                        c14.95,0,27.11,12.16,27.11,27.11v216.9C422.51,463,410.34,475.17,395.39,475.17L395.39,475.17z M395.39,475.17"
                  />
                  <path
                    class="st3"
                    d="M275.54,439.02h26.22l62.56-135.56h-38.28l18.07-63.26h-64.08L248,357.68h45.75L275.54,439.02z M271.67,339.6
                                        l22.18-81.34h26.29l-18.07,63.26h34.02l-30.55,66.17l10.75-48.1H271.67z M271.67,339.6"
                  />
                  <path
                    class="icon-path"
                    d="M585.18,131.75v-18.07c0-9.97-8.11-18.07-18.07-18.07h-18.07v-9.04c0-14.95-12.16-27.11-27.11-27.11h-72.3
                                        c-14.95,0-27.11,12.16-27.11,27.11v9.04H187.53v-9.04c0-14.95-12.16-27.11-27.11-27.11h-72.3c-14.95,0-27.11,12.16-27.11,27.11v9.04
                                        H42.94c-9.97,0-18.07,8.11-18.07,18.07v18.07c0,9.97,8.11,18.07,18.07,18.07v379.57c-9.97,0-18.07,8.11-18.07,18.07v18.07
                                        c0,9.97,8.11,18.07,18.07,18.07H567.1c9.97,0,18.07-8.11,18.07-18.07v-18.07c0-9.97-8.11-18.07-18.07-18.07V149.82
                                        C577.07,149.82,585.18,141.71,585.18,131.75L585.18,131.75z M440.58,86.56c0-4.99,4.05-9.04,9.04-9.04h72.3
                                        c4.99,0,9.04,4.05,9.04,9.04v9.04h-90.37V86.56z M79.09,86.56c0-4.99,4.05-9.04,9.04-9.04h72.3c4.99,0,9.04,4.05,9.04,9.04v9.04
                                        H79.09V86.56z M42.94,113.67H567.1l0.02,18.07H42.94V113.67z M567.12,565.54H42.94v-18.07H567.1L567.12,565.54z M549.03,529.39
                                        H61.01V149.82h488.02V529.39z M549.03,529.39"
                  />
                  <rect x="440.58" y="330.57" width="90.37" height="18.07" />
                  <path
                    d="M115.24,384.79h18.07v-36.15h36.15v-18.07h-36.15v-36.15h-18.07v36.15H79.09v18.07h36.15V384.79z M115.24,384.79"
                  />
                  <rect x="79.09" y="493.24" width="18.07" height="18.07" />
                  <rect x="115.24" y="493.24" width="18.07" height="18.07" />
                  <rect x="151.38" y="493.24" width="18.07" height="18.07" />
                  <rect x="512.88" y="167.89" width="18.07" height="18.07" />
                  <rect x="476.73" y="167.89" width="18.07" height="18.07" />
                  <rect x="440.58" y="167.89" width="18.07" height="18.07" />
                </svg>
              </div>
            </div>
            <!-- Single Service End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Service Start -->
            <div class="single-service" data-aos="fade-up" data-aos-delay="400">
              <h4 class="title">
                <a href="/services/transmission-repairs"
                  >{{.Site.Params.service5}}</a
                >
              </h4>
              <a href="/services/transmission-repairs" class="more">Learn more</a>
              <div class="service-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 600 600"
                  style="enable-background: new 0 0 600 600"
                  xml:space="preserve"
                >
                  <path
                    class="icon-path"
                    d="M85.68,152.95h88.53c9.76,0,17.71-7.94,17.71-17.71V82.12c0-9.76-7.94-17.71-17.71-17.71H85.68
                                        c-9.76,0-17.71,7.94-17.71,17.71v53.12C67.98,145,75.92,152.95,85.68,152.95L85.68,152.95z M85.68,82.12h88.53l0.01,53.12H85.68
                                        V82.12z M85.68,82.12"
                  />
                  <path
                    class="icon-path"
                    d="M121.1,206.07c-24.41,0-44.27,19.86-44.27,44.27v212.48c0,24.41,19.86,44.27,44.27,44.27h194.77
                                        c24.41,0,44.27-19.86,44.27-44.27V250.34c0-24.41-19.86-44.27-44.27-44.27H121.1z M342.43,250.34v212.48
                                        c0,14.65-11.91,26.56-26.56,26.56H121.1c-14.65,0-26.56-11.91-26.56-26.56V250.34c0-14.65,11.91-26.56,26.56-26.56h194.77
                                        C330.52,223.77,342.43,235.69,342.43,250.34L342.43,250.34z M342.43,250.34"
                  />
                  <path
                    class="icon-path"
                    d="M218.49,250.34c-58.58,0-106.24,47.66-106.24,106.24s47.66,106.24,106.24,106.24
                                        c58.58,0,106.24-47.66,106.24-106.24S277.07,250.34,218.49,250.34L218.49,250.34z M218.49,445.11c-48.82,0-88.53-39.71-88.53-88.53
                                        s39.71-88.53,88.53-88.53s88.53,39.71,88.53,88.53S267.31,445.11,218.49,445.11L218.49,445.11z M218.49,445.11"
                  />
                  <path
                    class="icon-path"
                    d="M225.69,280.61c-3.33-4.66-11.08-4.66-14.41,0l-36.02,50.43c-6.47,9.07-9.89,19.74-9.89,30.88v3.52
                                        c0,29.3,23.82,53.12,53.12,53.12c29.3,0,53.12-23.82,53.12-53.12v-3.52c0-11.14-3.42-21.81-9.89-30.87L225.69,280.61z M253.9,365.43
                                        c0,19.53-15.89,35.41-35.41,35.41c-19.53,0-35.41-15.89-35.41-35.41v-3.52c0-7.42,2.28-14.54,6.59-20.58l28.82-40.35l28.82,40.34
                                        c4.31,6.05,6.59,13.17,6.59,20.59V365.43z M253.9,365.43"
                  />
                  <path
                    class="icon-path"
                    d="M138.81,250.34c0,9.78-7.93,17.71-17.71,17.71c-9.78,0-17.71-7.93-17.71-17.71c0-9.78,7.93-17.71,17.71-17.71
                                        C130.88,232.63,138.81,240.55,138.81,250.34L138.81,250.34z M138.81,250.34"
                  />
                  <path
                    class="icon-path"
                    d="M333.58,250.34c0,9.78-7.93,17.71-17.71,17.71c-9.78,0-17.71-7.93-17.71-17.71c0-9.78,7.93-17.71,17.71-17.71
                                        C325.65,232.63,333.58,240.55,333.58,250.34L333.58,250.34z M333.58,250.34"
                  />
                  <path
                    class="icon-path"
                    d="M138.81,462.82c0,9.78-7.93,17.71-17.71,17.71c-9.78,0-17.71-7.93-17.71-17.71c0-9.78,7.93-17.71,17.71-17.71
                                        C130.88,445.11,138.81,453.04,138.81,462.82L138.81,462.82z M138.81,462.82"
                  />
                  <path
                    class="icon-path"
                    d="M333.58,462.82c0,9.78-7.93,17.71-17.71,17.71c-9.78,0-17.71-7.93-17.71-17.71c0-9.78,7.93-17.71,17.71-17.71
                                        C325.65,445.11,333.58,453.04,333.58,462.82L333.58,462.82z M333.58,462.82"
                  />
                  <path
                    class="icon-path"
                    d="M574.39,184.82l-21.25-28.34c-3.34-4.45-10.83-4.45-14.17,0l-21.25,28.34c-4.57,6.08-7.08,13.63-7.08,21.25
                                        c0,19.53,15.89,35.41,35.41,35.41c19.53,0,35.41-15.89,35.41-35.41C581.48,198.45,578.96,190.9,574.39,184.82L574.39,184.82z
                                        M546.06,223.77c-9.76,0-17.71-7.94-17.71-17.71c0-3.8,1.26-7.58,3.54-10.62l14.17-18.88l14.17,18.89
                                        c2.28,3.04,3.54,6.81,3.54,10.62C563.77,215.83,555.83,223.77,546.06,223.77L546.06,223.77z M546.06,223.77"
                  />
                  <path
                    class="icon-path"
                    d="M546.06,135.24c9.76,0,17.71-7.94,17.71-17.71V90.97c0-9.76-7.94-17.71-17.71-17.71h-78.42
                                        c-26.01,0-50.46,10.13-68.86,28.53l-21.03,21.04c-10.42-9.29-26.39-9.03-36.38,0.96l-20.3,20.3H253.9
                                        c-14.65,0-26.56-11.91-26.56-26.56V73.27c0-24.41-19.86-44.27-44.27-44.27H76.83c-24.41,0-44.27,19.86-44.27,44.27v442.67
                                        c0,34.16,27.8,61.97,61.97,61.97h247.9c34.17,0,61.97-27.81,61.97-61.97v-288.5l20.3-20.3c9.99-9.99,10.24-25.96,0.96-36.38
                                        l22.56-22.55c8.36-8.36,19.48-12.96,31.3-12.96H546.06z M386.7,515.94c0,24.41-19.86,44.27-44.27,44.27H94.54
                                        c-24.41,0-44.27-19.86-44.27-44.27V73.27c0-14.65,11.91-26.56,26.56-26.56h106.24c14.65,0,26.56,11.91,26.56,26.56v44.27
                                        c0,24.41,19.86,44.27,44.27,44.27h67.16l65.64,65.64V515.94z M412.19,194.62l-16.63,16.64l-58.31-58.31l16.64-16.63
                                        c3.45-3.45,9.07-3.45,12.52,0l45.79,45.79C415.64,185.55,415.64,191.17,412.19,194.62L412.19,194.62z M510.65,117.53h-31.12
                                        c-16.55,0-32.11,6.44-43.82,18.15l-22.44,22.45l-22.89-22.89l20.93-20.93c15.05-15.05,35.06-23.34,56.34-23.34h43.01V117.53z
                                        M546.06,117.53h-17.71V90.97h17.71V117.53z M546.06,117.53"
                  />
                  <rect
                    x="67.98"
                    y="170.65"
                    class="icon-path"
                    width="123.95"
                    height="17.71"
                  />
                </svg>
              </div>
            </div>
            <!-- Single Service End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Service Start -->
            <div class="single-service" data-aos="fade-up" data-aos-delay="600">
              <h4 class="title">
                <a href="/services/suspension-services"
                  >{{.Site.Params.service4}}</a>
              </h4>
              <a href="/services/suspension-services" class="more">Learn more</a>

              <div class="service-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 600 600"
                  style="enable-background: new 0 0 600 600"
                  xml:space="preserve"
                >
                  <path
                    class="icon-path"
                    d="M295.61,16.17c-154.73,0-280.16,125.43-280.16,280.16s125.43,280.16,280.16,280.16s280.16-125.43,280.16-280.16
                                        C575.6,141.67,450.27,16.34,295.61,16.17z M456.66,502.1l-10.78-14.83l-15.11,10.98l10.83,14.94
                                        c-17.55,11.84-36.46,21.5-56.34,28.78l-5.72-17.62l-17.74,5.78l5.71,17.55c-20.37,5.83-41.38,9.15-62.55,9.89v-18.44h-18.68v18.44
                                        c-21.16-0.74-42.16-4.06-62.51-9.89l5.71-17.55l-17.74-5.78l-5.76,17.62c-19.88-7.29-38.8-16.97-56.35-28.82l10.83-14.94
                                        l-15.11-10.98l-10.78,14.83c-16.65-13.06-31.67-28.08-44.73-44.73l14.83-10.78l-10.98-15.11l-14.94,10.83
                                        c-11.82-17.54-21.46-36.44-28.73-56.3l17.62-5.72l-5.78-17.74l-17.55,5.71c-5.85-20.37-9.19-41.37-9.94-62.55h18.44v-18.68H34.37
                                        c0.74-21.16,4.06-42.16,9.89-62.51l17.55,5.71l5.78-17.74l-17.58-5.76c7.29-19.88,16.97-38.8,28.82-56.35l14.94,10.83l10.98-15.11
                                        l-14.91-10.77c13.06-16.65,28.08-31.67,44.73-44.73l10.78,14.83l15.11-10.98l-10.83-14.94c17.55-11.82,36.47-21.47,56.34-28.73
                                        l5.72,17.62l17.74-5.78l-5.71-17.55c20.37-5.85,41.37-9.19,62.55-9.94v18.44h18.68V35.08c21.16,0.74,42.16,4.06,62.51,9.89
                                        l-5.71,17.55l17.74,5.78l5.76-17.58c19.88,7.29,38.8,16.97,56.35,28.82l-10.83,14.94l15.11,10.98l10.78-14.83
                                        c16.65,13.06,31.67,28.08,44.73,44.73l-14.83,10.78l10.98,15.11l14.94-10.83c11.83,17.52,21.49,36.41,28.77,56.26l-17.62,5.72
                                        l5.78,17.74l17.55-5.71c5.83,20.37,9.15,41.38,9.89,62.55h-18.44v18.68h18.44c-0.74,21.16-4.06,42.16-9.89,62.51l-17.55-5.71
                                        l-5.78,17.74l17.62,5.72c-7.29,19.88-16.97,38.8-28.82,56.35l-14.94-10.83l-10.98,15.11l14.83,10.78
                                        C488.3,474,473.3,489.03,456.66,502.1z"
                  />
                  <path
                    class="icon-path"
                    d="M295.61,90.88c-113.47,0-205.45,91.98-205.45,205.45s91.98,205.45,205.45,205.45s205.45-91.98,205.45-205.45
                                        C500.93,182.91,409.03,91.01,295.61,90.88z M295.61,483.1c-103.15,0-186.77-83.62-186.77-186.77s83.62-186.77,186.77-186.77
                                        s186.77,83.62,186.77,186.77C482.27,399.43,398.72,482.98,295.61,483.1z"
                  />
                  <path
                    class="icon-path"
                    d="M295.61,137.57c-87.68,0-158.76,71.08-158.76,158.76s71.08,158.76,158.76,158.76s158.76-71.08,158.76-158.76
                                        C454.27,208.69,383.25,137.67,295.61,137.57z M435.06,283.81l-58.49-4.73c-5.14-0.43-8.96-4.95-8.52-10.09
                                        c0.2-2.44,1.36-4.7,3.21-6.29l44.44-38.13C426.56,242.6,433.18,262.86,435.06,283.81z M326.8,159.87l-22.56,54.16
                                        c-1.98,4.76-7.45,7.01-12.21,5.03c-2.27-0.95-4.08-2.75-5.03-5.03l-22.56-54.16C284.94,155.04,306.29,155.04,326.8,159.87z
                                         M175.51,224.56l44.46,38.15c3.92,3.36,4.37,9.25,1.01,13.17c-1.6,1.87-3.88,3.03-6.34,3.23l-58.49,4.73
                                        c1.88-20.97,8.51-41.24,19.38-59.27H175.51z M190.24,388.35l49.98-30.49c4.4-2.69,10.15-1.3,12.84,3.1c1.28,2.1,1.69,4.63,1.11,7.03
                                        l-13.56,57.13c-19.32-8.34-36.52-20.91-50.34-36.78H190.24z M258.32,431.22l14.01-58.91c3.58-15.05-5.72-30.16-20.78-33.74
                                        c-7.19-1.71-14.76-0.51-21.07,3.34l-51.68,31.55c-13.95-21.1-21.89-45.61-22.95-70.89l60.31-4.87c15.42-1.26,26.9-14.79,25.63-30.21
                                        c-0.6-7.35-4.08-14.17-9.68-18.97l-45.95-39.41c15.79-19.75,36.61-34.88,60.28-43.79l23.27,55.87
                                        c5.95,14.28,22.35,21.04,36.63,15.09c6.83-2.84,12.25-8.27,15.09-15.09l23.28-55.87c23.67,8.91,44.49,24.04,60.28,43.79
                                        l-45.89,39.41c-11.74,10.08-13.09,27.76-3.02,39.51c4.81,5.6,11.64,9.08,19,9.68l60.31,4.87c-1.06,25.28-9,49.79-22.95,70.89
                                        l-51.75-31.56c-13.21-8.06-30.45-3.89-38.51,9.32c-3.85,6.31-5.05,13.89-3.34,21.08l14.01,58.91c-24.36,6.91-50.16,6.91-74.52,0
                                        H258.32z M350.59,425.12L337,367.99c-1.19-5.02,1.91-10.05,6.92-11.25c2.4-0.57,4.93-0.17,7.03,1.11l49.98,30.49
                                        c-13.81,15.87-31.01,28.43-50.32,36.78H350.59z"
                  />
                  <path
                    class="icon-path"
                    d="M332.97,296.33c0-20.63-16.72-37.35-37.35-37.35c-20.63,0-37.35,16.72-37.35,37.35
                                        c0,20.63,16.72,37.35,37.35,37.35C316.24,333.68,332.97,316.96,332.97,296.33z M295.61,315c-10.32,0-18.68-8.36-18.68-18.68
                                        s8.36-18.68,18.68-18.68c10.32,0,18.68,8.36,18.68,18.68S305.93,315,295.61,315z"
                  />
                </svg>
              </div>
            </div>
            <!-- Single Service End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Service Start -->
            <div class="single-service" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title">
                <a href="/services/denting-painting">{{ .Site.Params.Service7 }}</a>
              </h4>
              <a href="/services/denting-painting" class="more">Learn more</a>

              <div class="service-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 600 600"
                  style="enable-background: new 0 0 600 600"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      class="icon-path"
                      d="M308.62,162.75c-75.19,0-136.36,61.17-136.36,136.37c0,32.84,11.84,64.57,33.34,89.34
                                                c3,3.45,8.23,3.83,11.69,0.82c3.46-3,3.83-8.23,0.83-11.69c-18.88-21.76-29.29-49.63-29.29-78.48
                                                c0-66.06,53.74-119.79,119.79-119.79c66.05,0,119.8,53.73,119.8,119.79c0,66.05-53.74,119.79-119.8,119.79
                                                c-22.01,0-43.53-6.02-62.23-17.41c-3.91-2.38-9-1.15-11.39,2.77c-2.38,3.91-1.15,9.01,2.77,11.39
                                                c21.29,12.97,45.79,19.83,70.85,19.83c75.2,0,136.37-61.17,136.37-136.37C444.99,223.93,383.82,162.75,308.62,162.75L308.62,162.75
                                                z M308.62,162.75"
                    />
                    <path
                      class="icon-path"
                      d="M268.81,299.12c0,21.96,17.86,39.82,39.82,39.82c21.96,0,39.82-17.86,39.82-39.82
                                                c0-21.96-17.87-39.82-39.82-39.82C286.67,259.3,268.81,277.17,268.81,299.12L268.81,299.12z M308.62,275.87
                                                c12.82,0,23.25,10.43,23.25,23.25c0,12.81-10.43,23.24-23.25,23.24c-12.82,0-23.24-10.43-23.24-23.24
                                                C285.38,286.3,295.8,275.87,308.62,275.87L308.62,275.87z M308.62,275.87"
                    />
                    <path
                      class="icon-path"
                      d="M222.86,171.04c0,4.58-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C219.15,162.75,222.86,166.46,222.86,171.04L222.86,171.04z M222.86,171.04"
                    />
                    <path
                      class="icon-path"
                      d="M253.01,509.21c0,4.57-3.71,8.29-8.28,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C249.3,500.93,253.01,504.63,253.01,509.21L253.01,509.21z M253.01,509.21"
                    />
                    <path
                      class="icon-path"
                      d="M253.01,476.91c0,4.58-3.7,8.29-8.28,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C249.31,468.62,253.01,472.34,253.01,476.91L253.01,476.91z M253.01,476.91"
                    />
                    <path
                      class="icon-path"
                      d="M253.02,444.61c0,4.58-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C249.31,436.33,253.02,440.04,253.02,444.61L253.02,444.61z M253.02,444.61"
                    />
                    <path
                      class="icon-path"
                      d="M466.9,459.51c0,4.57-3.71,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C463.19,451.21,466.9,454.92,466.9,459.51L466.9,459.51z M466.9,459.51"
                    />
                    <path
                      class="icon-path"
                      d="M438.94,443.35c0,4.57-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C435.22,435.06,438.94,438.77,438.94,443.35L438.94,443.35z M438.94,443.35"
                    />
                    <path
                      class="icon-path"
                      d="M410.97,427.2c0,4.57-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C407.25,418.92,410.97,422.62,410.97,427.2L410.97,427.2z M410.97,427.2"
                    />
                    <path
                      class="icon-path"
                      d="M527,363.02c0,4.57-3.71,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C523.29,354.73,527,358.44,527,363.02L527,363.02z M527,363.02"
                    />
                    <path
                      class="icon-path"
                      d="M494.7,363.02c0,4.57-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C490.99,354.73,494.7,358.44,494.7,363.02L494.7,363.02z M494.7,363.02"
                    />
                    <path
                      class="icon-path"
                      d="M462.41,363.01c0,4.58-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C458.69,354.73,462.41,358.44,462.41,363.01L462.41,363.01z M462.41,363.01"
                    />
                    <path
                      class="icon-path"
                      d="M477.29,149.13c0,4.57-3.7,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C473.59,140.84,477.29,144.55,477.29,149.13L477.29,149.13z M477.29,149.13"
                    />
                    <path
                      class="icon-path"
                      d="M461.14,177.1c0,4.58-3.71,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C457.43,168.81,461.14,172.52,461.14,177.1L461.14,177.1z M461.14,177.1"
                    />
                    <path
                      class="icon-path"
                      d="M444.99,205.07c0,4.58-3.71,8.29-8.29,8.29c-4.58,0-8.29-3.7-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C441.28,196.78,444.99,200.49,444.99,205.07L444.99,205.07z M444.99,205.07"
                    />
                    <path
                      class="icon-path"
                      d="M380.66,87.76c0.74,4.52-2.34,8.77-6.85,9.51c-4.52,0.73-8.77-2.34-9.51-6.85c-0.73-4.52,2.34-8.77,6.86-9.51
                                                C375.67,80.18,379.93,83.25,380.66,87.76L380.66,87.76z M380.66,87.76"
                    />
                    <path
                      class="icon-path"
                      d="M380.8,121.33c0,4.57-3.7,8.29-8.29,8.29c-4.57,0-8.29-3.71-8.29-8.29c0-4.58,3.71-8.29,8.29-8.29
                                                C377.1,113.04,380.8,116.75,380.8,121.33L380.8,121.33z M380.8,121.33"
                    />
                    <path
                      class="icon-path"
                      d="M380.8,153.63c0,4.58-3.71,8.29-8.29,8.29c-4.57,0-8.29-3.7-8.29-8.29c0-4.57,3.71-8.29,8.29-8.29
                                                C377.09,145.34,380.8,149.05,380.8,153.63L380.8,153.63z M380.8,153.63"
                    />
                    <path
                      class="icon-path"
                      d="M295.36,148.35c3.96-2.29,5.32-7.36,3.03-11.32l-32.3-55.94c-2.28-3.96-7.35-5.32-11.32-3.03
                                                c-3.97,2.29-5.32,7.36-3.03,11.32l32.3,55.94C286.33,149.29,291.4,150.63,295.36,148.35L295.36,148.35z M295.36,148.35"
                    />
                    <path
                      class="icon-path"
                      d="M529.69,245.27c-2.28-3.96-7.35-5.32-11.32-3.03l-55.94,32.29c-3.96,2.29-5.32,7.36-3.03,11.32
                                                c2.29,3.97,7.36,5.32,11.32,3.04l55.94-32.3C530.62,254.3,531.98,249.23,529.69,245.27L529.69,245.27z M529.69,245.27"
                    />
                    <path
                      class="icon-path"
                      d="M321.89,449.89c-3.96,2.29-5.32,7.36-3.03,11.32l32.29,55.94c2.29,3.97,7.36,5.32,11.32,3.03
                                                c3.96-2.29,5.32-7.36,3.03-11.32l-32.3-55.94C330.93,448.96,325.86,447.61,321.89,449.89L321.89,449.89z M321.89,449.89"
                    />
                    <path
                      class="icon-path"
                      d="M332.57,219.31c0-13.21-10.74-23.94-23.95-23.94c-13.2,0-23.94,10.74-23.94,23.94s10.74,23.95,23.94,23.95
                                                C321.83,243.26,332.57,232.52,332.57,219.31L332.57,219.31z M301.25,219.31c0-4.06,3.31-7.37,7.37-7.37c4.07,0,7.37,3.31,7.37,7.37
                                                c0,4.07-3.3,7.37-7.37,7.37C304.56,226.68,301.25,223.38,301.25,219.31L301.25,219.31z M301.25,219.31"
                    />
                    <path
                      class="icon-path"
                      d="M263.46,259.21c0-13.21-10.74-23.94-23.95-23.94c-13.21,0-23.95,10.74-23.95,23.94
                                                c0,13.21,10.74,23.95,23.95,23.95C252.71,283.16,263.46,272.42,263.46,259.21L263.46,259.21z M232.14,259.21
                                                c0-4.06,3.31-7.37,7.37-7.37c4.07,0,7.37,3.31,7.37,7.37c0,4.07-3.3,7.38-7.37,7.38C235.45,266.59,232.14,263.28,232.14,259.21
                                                L232.14,259.21z M232.14,259.21"
                    />
                    <path
                      class="icon-path"
                      d="M239.84,363.16c13.21,0,23.95-10.74,23.95-23.94c0-13.2-10.74-23.95-23.95-23.95
                                                c-13.2,0-23.94,10.74-23.94,23.95C215.9,352.42,226.64,363.16,239.84,363.16L239.84,363.16z M239.84,331.85
                                                c4.07,0,7.38,3.31,7.38,7.38c0,4.06-3.31,7.37-7.38,7.37c-4.06,0-7.37-3.31-7.37-7.37C232.47,335.15,235.77,331.85,239.84,331.85
                                                L239.84,331.85z M239.84,331.85"
                    />
                    <path
                      class="icon-path"
                      d="M377.74,283.16c13.21,0,23.95-10.74,23.95-23.94c0-13.21-10.74-23.95-23.95-23.95
                                                c-13.2,0-23.94,10.74-23.94,23.95C353.8,272.42,364.53,283.16,377.74,283.16L377.74,283.16z M377.74,251.84
                                                c4.07,0,7.38,3.31,7.38,7.37c0,4.07-3.31,7.38-7.38,7.38c-4.06,0-7.37-3.31-7.37-7.38C370.37,255.15,373.68,251.84,377.74,251.84
                                                L377.74,251.84z M377.74,251.84"
                    />
                    <path
                      class="icon-path"
                      d="M377.41,363.16c13.2,0,23.95-10.74,23.95-23.94c0-13.2-10.74-23.95-23.95-23.95
                                                c-13.21,0-23.95,10.74-23.95,23.95C353.46,352.42,364.21,363.16,377.41,363.16L377.41,363.16z M377.41,331.85
                                                c4.07,0,7.37,3.31,7.37,7.38c0,4.06-3.3,7.37-7.37,7.37c-4.07,0-7.37-3.31-7.37-7.37C370.04,335.15,373.34,331.85,377.41,331.85
                                                L377.41,331.85z M377.41,331.85"
                    />
                    <path
                      class="icon-path"
                      d="M284.68,378.93c0,13.21,10.74,23.95,23.95,23.95c13.21,0,23.95-10.74,23.95-23.95
                                                c0-13.2-10.74-23.95-23.95-23.95C295.42,354.98,284.68,365.72,284.68,378.93L284.68,378.93z M316,378.93
                                                c0,4.06-3.31,7.37-7.38,7.37c-4.06,0-7.37-3.31-7.37-7.37c0-4.07,3.31-7.37,7.37-7.37C312.69,371.56,316,374.86,316,378.93
                                                L316,378.93z M316,378.93"
                    />
                    <path
                      class="icon-path"
                      d="M581.34,430.86l-27.19-27.19c-1.93-1.93-4.42-3.09-7.11-3.33c13.51-31.82,20.54-66.2,20.54-101.22
                                                c0-34.96-6.85-68.87-20.35-100.81c-1.78-4.21-6.65-6.19-10.86-4.4c-4.21,1.78-6.19,6.65-4.4,10.86
                                                c12.64,29.87,19.05,61.62,19.05,94.35c0,45.29-12.56,89.42-36.32,127.69l-60.32,60.32l-30.79-30.79c-2.18-2.18-5.07-3.38-8.16-3.38
                                                c-3.08,0-5.98,1.2-8.16,3.38l-27.18,27.19c-4.5,4.49-4.5,11.81,0,16.31l22.7,22.7c-29.77,12.59-61.39,18.96-94.16,18.96
                                                c-45.58,0-89.81-12.66-128.23-36.65V378.82c0-4.4-1.06-8.8-3.07-12.72c-10.69-20.87-16.12-43.41-16.12-66.98
                                                c0-23.57,5.43-46.11,16.12-66.99c2.01-3.92,3.07-8.33,3.07-12.72v-59.03c1.52,1.71,3.73,2.8,6.2,2.8c4.58,0,8.29-3.71,8.29-8.29
                                                c0-4.58-3.71-8.29-8.29-8.29c-2.47,0-4.68,1.08-6.2,2.8v-0.45c0-4.58-3.71-8.29-8.29-8.29c-4.58,0-8.29,3.71-8.29,8.29v70.47
                                                c0,1.78-0.43,3.57-1.25,5.17c-11.9,23.23-17.94,48.31-17.94,74.54c0,26.23,6.04,51.31,17.94,74.54c0.82,1.6,1.25,3.38,1.25,5.17
                                                c0-3.11,0,43.68,0,141.81c0,2.94-2.02,4.33-2.88,4.79c-0.87,0.46-3.16,1.35-5.6-0.31c-29.9-20.32-55.13-45.94-75-76.13
                                                c-9.23-14.03-14.11-30.4-14.11-47.33v-50.07c0-16.27-7.92-31.61-21.19-41.05c-5.88-4.18-9.39-10.98-9.39-18.18
                                                c0-7.2,3.51-14,9.39-18.18c13.27-9.44,21.19-24.79,21.19-41.05v-36.54c0-16.93,4.88-33.3,14.11-47.33
                                                c19.86-30.2,45.1-55.81,74.99-76.13c2.45-1.66,4.73-0.77,5.6-0.31c0.87,0.46,2.88,1.84,2.88,4.79c-0.01,32.34,0,6.23,0,32.68
                                                c0,4.58,3.71,8.29,8.29,8.29c4.58,0,8.29-3.71,8.29-8.29V93.38c38.42-23.99,82.65-36.66,128.23-36.66
                                                c84.24,0,161.18,42.73,205.81,114.29c2.42,3.87,7.52,5.08,11.42,2.65c3.88-2.42,5.06-7.53,2.64-11.42
                                                c-22.85-36.63-54.76-67.24-92.28-88.53c-77.95-44.21-175.78-45.45-256.07,0.51c-1.05-6.8-5.24-12.77-11.44-16.06
                                                c-7.23-3.82-15.91-3.34-22.67,1.25c-31.71,21.55-58.47,48.71-79.53,80.73c-11.01,16.74-16.84,36.26-16.84,56.44v36.54
                                                c0,10.91-5.32,21.22-14.23,27.55c-10.24,7.29-16.35,19.13-16.35,31.68c0,12.55,6.11,24.39,16.35,31.68
                                                c8.91,6.34,14.23,16.63,14.23,27.55v50.07c0,20.18,5.82,39.7,16.84,56.44c21.06,32.02,47.82,59.18,79.53,80.73
                                                c3.73,2.53,8.04,3.81,12.36,3.81c10.69,0,20.08-7.77,21.75-18.62c39.01,22.33,83.12,34.07,128.48,34.07
                                                c37.27,0,73.15-7.72,106.74-22.96l30.84,30.85c2.18,2.18,5.08,3.38,8.16,3.38c3.08,0,5.98-1.2,8.16-3.38l118.81-118.8
                                                C585.83,442.67,585.83,435.35,581.34,430.86L581.34,430.86z M454.37,550.7l-31.28-31.28c-0.08-0.08-0.15-0.15-0.24-0.23l-27.5-27.5
                                                l20.06-20.06l30.79,30.79c2.18,2.18,5.08,3.38,8.16,3.38c3.08,0,5.98-1.2,8.16-3.38c66.15-66.15,64.56-64.55,64.67-64.66l18.8-18.8
                                                l20.06,20.06L454.37,550.7z M454.37,550.7"
                    />
                    <path
                      class="icon-path"
                      d="M149.15,389.85c4.07-2.08,5.68-7.08,3.6-11.15c-12.53-24.46-19.15-51.98-19.15-79.57
                                                c0-27.6,6.62-55.12,19.15-79.58c2.08-4.07,0.48-9.07-3.6-11.15c-4.07-2.09-9.07-0.48-11.16,3.6
                                                c-13.72,26.78-20.98,56.92-20.98,87.14c0,30.21,7.26,60.35,20.98,87.13C140.07,390.31,145.06,391.95,149.15,389.85L149.15,389.85z
                                                M149.15,389.85"
                    />
                    <path
                      class="icon-path"
                      d="M54.73,292.36c0,14.12,11.5,25.61,25.62,25.61c14.13,0,25.62-11.49,25.62-25.61
                                                c0-14.13-11.49-25.62-25.62-25.62C66.23,266.74,54.73,278.23,54.73,292.36L54.73,292.36z M89.39,292.36c0,4.98-4.05,9.04-9.04,9.04
                                                c-4.98,0-9.04-4.06-9.04-9.04c0-4.99,4.06-9.05,9.04-9.05C85.34,283.31,89.39,287.37,89.39,292.36L89.39,292.36z M89.39,292.36"
                    />
                    <path
                      class="icon-path"
                      d="M133.59,166.45c0-12.18-9.91-22.09-22.1-22.09c-12.19,0-22.1,9.91-22.1,22.09c0,12.19,9.91,22.1,22.1,22.1
                                                C123.67,188.55,133.59,178.64,133.59,166.45L133.59,166.45z M105.96,166.45c0-3.04,2.48-5.52,5.52-5.52c3.04,0,5.52,2.48,5.52,5.52
                                                c0,3.05-2.48,5.53-5.52,5.53C108.44,171.98,105.96,169.5,105.96,166.45L105.96,166.45z M105.96,166.45"
                    />
                    <path
                      class="icon-path"
                      d="M111.49,440.36c12.19,0,22.1-9.91,22.1-22.1c0-12.19-9.91-22.09-22.1-22.09c-12.19,0-22.1,9.91-22.1,22.09
                                                C89.39,430.44,99.3,440.36,111.49,440.36L111.49,440.36z M111.49,412.73c3.04,0,5.52,2.48,5.52,5.52c0,3.05-2.48,5.52-5.52,5.52
                                                c-3.04,0-5.52-2.47-5.52-5.52C105.96,415.21,108.44,412.73,111.49,412.73L111.49,412.73z M111.49,412.73"
                    />
                  </g>
                </svg>
              </div>
            </div>
            <!-- Single Service End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Service Start -->
            <div class="single-service" data-aos="fade-up" data-aos-delay="600">
              <h4 class="title">
                <a href="/services/insurance-claims"
                  >{{.Site.Params.service8}}</a
                >
              </h4>
              <a href="/services/insurance-claims" class="more">Learn more</a>

              <div class="service-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 600 600"
                  style="enable-background: new 0 0 600 600"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      class="icon-path"
                      d="M185.36,412.67c-15.77,0-28.6,12.83-28.6,28.59c0,15.77,12.83,28.6,28.6,28.6h20.17
                                                c15.77,0,28.6-12.83,28.6-28.6c0-15.77-12.83-28.59-28.6-28.59H185.36z M218.61,441.26c0,7.21-5.87,13.07-13.08,13.07h-20.18
                                                c-7.21,0-13.07-5.86-13.07-13.07c0-7.21,5.86-13.08,13.07-13.08h20.18C212.74,428.18,218.61,434.05,218.61,441.26L218.61,441.26z
                                                M218.61,441.26"
                    />
                    <path
                      class="icon-path"
                      d="M405.67,469.86h20.18c15.77,0,28.6-12.83,28.6-28.6c0-15.77-12.83-28.6-28.6-28.6h-20.18
                                                c-15.77,0-28.6,12.83-28.6,28.6C377.07,457.03,389.9,469.86,405.67,469.86L405.67,469.86z M405.67,428.18h20.18
                                                c7.21,0,13.07,5.87,13.07,13.08c0,7.21-5.86,13.08-13.07,13.08h-20.18c-7.21,0-13.08-5.87-13.08-13.08
                                                C392.59,434.05,398.46,428.18,405.67,428.18L405.67,428.18z M405.67,428.18"
                    />
                    <path
                      class="icon-path"
                      d="M265.51,434.9h74.43c4.29,0,7.76-3.47,7.76-7.76c0-4.29-3.47-7.75-7.76-7.75h-74.43
                                                c-4.28,0-7.75,3.47-7.75,7.75C257.76,431.43,261.23,434.9,265.51,434.9L265.51,434.9z M265.51,434.9"
                    />
                    <path
                      class="icon-path"
                      d="M265.51,463.14h74.43c4.29,0,7.76-3.47,7.76-7.76c0-4.29-3.47-7.76-7.76-7.76h-74.43
                                                c-4.28,0-7.75,3.48-7.75,7.76C257.76,459.67,261.23,463.14,265.51,463.14L265.51,463.14z M265.51,463.14"
                    />
                    <path
                      class="icon-path"
                      d="M224.97,194.3v-11.87c0-4.29-3.48-7.76-7.76-7.76c-4.29,0-7.76,3.47-7.76,7.76v11.87
                                                c0,4.29,3.48,7.76,7.76,7.76C221.49,202.06,224.97,198.59,224.97,194.3L224.97,194.3z M224.97,194.3"
                    />
                    <path
                      class="icon-path"
                      d="M283.89,194.3v-11.87c0-4.29-3.47-7.76-7.75-7.76c-4.29,0-7.76,3.47-7.76,7.76v11.87
                                                c0,4.29,3.47,7.76,7.76,7.76C280.42,202.06,283.89,198.59,283.89,194.3L283.89,194.3z M283.89,194.3"
                    />
                    <path
                      class="icon-path"
                      d="M342.82,194.3v-11.87c0-4.29-3.47-7.76-7.76-7.76c-4.28,0-7.75,3.47-7.75,7.76v11.87
                                                c0,4.29,3.47,7.76,7.75,7.76C339.35,202.06,342.82,198.59,342.82,194.3L342.82,194.3z M342.82,194.3"
                    />
                    <path
                      class="icon-path"
                      d="M401.75,194.3v-11.87c0-4.29-3.47-7.76-7.76-7.76c-4.28,0-7.76,3.47-7.76,7.76v11.87
                                                c0,4.29,3.48,7.76,7.76,7.76C398.28,202.06,401.75,198.59,401.75,194.3L401.75,194.3z M401.75,194.3"
                    />
                    <path
                      class="icon-path"
                      d="M246.67,228.62c4.29,0,7.76-3.48,7.76-7.76v-11.88c0-4.28-3.47-7.76-7.76-7.76c-4.28,0-7.76,3.48-7.76,7.76
                                                v11.88C238.91,225.15,242.38,228.62,246.67,228.62L246.67,228.62z M246.67,228.62"
                    />
                    <path
                      class="icon-path"
                      d="M313.36,220.86v-11.88c0-4.28-3.48-7.76-7.76-7.76c-4.28,0-7.76,3.48-7.76,7.76v11.88
                                                c0,4.29,3.48,7.76,7.76,7.76C309.88,228.62,313.36,225.15,313.36,220.86L313.36,220.86z M313.36,220.86"
                    />
                    <path
                      class="icon-path"
                      d="M372.29,220.86v-11.88c0-4.28-3.48-7.76-7.76-7.76c-4.29,0-7.76,3.48-7.76,7.76v11.88
                                                c0,4.29,3.47,7.76,7.76,7.76C368.81,228.62,372.29,225.15,372.29,220.86L372.29,220.86z M372.29,220.86"
                    />
                    <path
                      class="icon-path"
                      d="M497.57,401.22c0-13.27-10.79-24.07-24.06-24.07h-4.76L460,356.48c1.51-1.11,2.79-2.53,3.72-4.23l6.72-12.29
                                                l12.29-6.72c4.14-2.27,6.72-6.61,6.72-11.33c0-4.73-2.58-9.07-6.72-11.33l-12.29-6.72l-6.72-12.29c0-0.01,0-0.01,0-0.01
                                                c-2.27-4.14-6.61-6.71-11.33-6.71c-4.73,0-9.07,2.58-11.33,6.72l-4.81,8.79l-14.1-33.3c-6.38-15.07-21.08-24.82-37.46-24.82H242.62
                                                c-1.16-2.35-3.02-4.34-5.4-5.64l-12.29-6.72l-6.72-12.29c-2.27-4.14-6.61-6.72-11.34-6.72c-4.73,0-9.07,2.58-11.33,6.72
                                                l-6.72,12.29l-12.29,6.72c-4.14,2.26-6.72,6.61-6.72,11.33c0,4.73,2.58,9.07,6.72,11.33l12.29,6.72c0.24,0.45,0.27,0.99,0.07,1.46
                                                c-3.62,8.53-37.01,87.42-46.45,109.72h-4.76c-13.27,0-24.06,10.79-24.06,24.07v80.08c0,13.27,10.79,24.06,24.06,24.06h22.68v23.95
                                                c0,22.08,17.96,40.04,40.04,40.04s40.04-17.96,40.04-40.04v-23.95h37.25c4.29,0,7.76-3.47,7.76-7.75c0-4.29-3.47-7.76-7.76-7.76
                                                H137.68c-4.72,0-8.55-3.83-8.55-8.55v-80.08c0-4.72,3.83-8.55,8.55-8.55h335.83c4.71,0,8.55,3.83,8.55,8.55v80.08
                                                c0,4.72-3.84,8.55-8.55,8.55H308.72c-4.29,0-7.76,3.47-7.76,7.76c0,4.28,3.47,7.75,7.76,7.75h62.04v23.95
                                                c0,22.08,17.96,40.04,40.04,40.04s40.03-17.96,40.03-40.04v-23.95h22.68c13.27,0,24.06-10.79,24.06-24.06V401.22z M224.92,505.37
                                                v23.95c0,13.52-11,24.53-24.52,24.53c-13.53,0-24.53-11.01-24.53-24.53v-23.95H224.92z M447.57,311.97l4.81-8.79l4.81,8.78
                                                c1.19,2.18,2.96,3.95,5.14,5.14l8.78,4.81l-8.79,4.81c-2.17,1.19-3.95,2.96-5.13,5.14l-4.81,8.78l-4.81-8.79
                                                c-1.19-2.17-2.96-3.95-5.13-5.13l-8.79-4.81C440.54,317.71,444.78,317.07,447.57,311.97L447.57,311.97z M188.16,247.93l8.78-4.81
                                                c2.17-1.19,3.95-2.96,5.14-5.13l4.8-8.79l4.81,8.79c1.19,2.17,2.96,3.95,5.13,5.14l8.79,4.8l-8.79,4.81
                                                c-2.18,1.19-3.95,2.96-5.13,5.14l-4.81,8.78l-4.81-8.78c-1.19-2.17-2.96-3.95-5.13-5.14L188.16,247.93z M199.49,377.15l33.59-81.96
                                                c0.38-0.93,1.27-1.52,2.27-1.52h140.49c1,0,1.9,0.6,2.28,1.52l33.59,81.96H199.49z M428.48,377.15l-36-87.84
                                                c-2.78-6.78-9.31-11.17-16.64-11.17H235.35c-7.33,0-13.86,4.38-16.64,11.17l-35.99,87.84H159.3l40.04-94.6
                                                c2.16,1.55,4.78,2.43,7.54,2.43c4.72,0,9.07-2.57,11.33-6.72l6.72-12.29l12.29-6.72c0.79-0.43,1.52-0.94,2.19-1.5h145.28
                                                c10.13,0,19.22,6.02,23.16,15.35l15.55,36.73l-1.36,0.74c-4.15,2.26-6.72,6.61-6.72,11.33c0,4.72,2.57,9.06,6.72,11.33l12.28,6.72
                                                l6.72,12.29c2.41,4.41,6.34,14.5,10.85,24.9H428.48z M435.32,529.32c0,13.52-11,24.53-24.52,24.53
                                                c-13.52,0-24.53-11.01-24.53-24.53v-23.95h49.05V529.32z M435.32,529.32"
                    />
                    <path
                      class="icon-path"
                      d="M570.48,78.42c0-21.36-17.37-38.73-38.73-38.73h-52.64c-4.29,0-7.76,3.47-7.76,7.75
                                                c0,4.29,3.47,7.76,7.76,7.76h52.64c12.79,0,23.21,10.41,23.21,23.21v4.79H56.23v-4.79c0-12.8,10.41-23.21,23.21-23.21H448.1
                                                c4.29,0,7.76-3.47,7.76-7.76c0-4.28-3.48-7.75-7.76-7.75H79.44c-21.35,0-38.73,17.37-38.73,38.73c0.01,3.79-0.01-15.53,0.04,47.5
                                                c0,4.29,3.47,7.76,7.75,7.76h12.36V269.8H48.5c-4.28,0-7.75,3.47-7.75,7.76c0,4.29,3.47,7.75,7.75,7.75h12.36v15.48H48.5
                                                c-4.28,0-7.75,3.47-7.75,7.76c0,4.28,3.47,7.75,7.75,7.75h12.36v15.48H48.5c-4.28,0-7.75,3.47-7.75,7.76
                                                c0,4.28,3.47,7.76,7.75,7.76h12.36v15.47H48.5c-4.28,0-7.75,3.48-7.75,7.76c0,4.28,3.47,7.76,7.75,7.76h12.36v15.48H48.5
                                                c-4.28,0-7.75,3.47-7.75,7.76c0,4.29,3.47,7.76,7.75,7.76h12.36v15.48H48.5c-4.28,0-7.75,3.47-7.75,7.76
                                                c0,4.29,3.47,7.76,7.75,7.76h12.36v15.47H48.5c-4.28,0-7.75,3.48-7.75,7.76c0,4.29,3.47,7.76,7.75,7.76h12.36v15.47H48.5
                                                c-4.28,0-7.75,3.48-7.75,7.76c0,4.28,3.47,7.76,7.75,7.76h12.36v15.47H48.5c-4.28,0-7.75,3.48-7.75,7.76
                                                c0,4.29,3.47,7.76,7.75,7.76h12.36v28.34c0,4.28,3.47,7.75,7.76,7.75c4.29,0,7.76-3.47,7.76-7.75v-28.34h14.45
                                                c4.29,0,7.76-3.47,7.76-7.76c0-4.29-3.47-7.76-7.76-7.76H76.38v-15.47h14.46c4.28,0,7.75-3.48,7.75-7.76
                                                c0-4.29-3.47-7.76-7.75-7.76H76.38v-15.47h14.46c4.28,0,7.75-3.48,7.75-7.76c0-4.28-3.47-7.76-7.75-7.76H76.38v-15.47h14.46
                                                c4.28,0,7.75-3.48,7.75-7.76c0-4.29-3.47-7.76-7.75-7.76H76.38v-15.48h14.46c4.28,0,7.75-3.47,7.75-7.76
                                                c0-4.29-3.47-7.76-7.75-7.76H76.38V378.3h14.46c4.28,0,7.75-3.47,7.75-7.76c0-4.29-3.47-7.76-7.75-7.76H76.38V347.3h14.46
                                                c4.28,0,7.75-3.48,7.75-7.76c0-4.29-3.47-7.76-7.75-7.76H76.38v-15.47h14.46c4.28,0,7.75-3.48,7.75-7.76
                                                c0-4.29-3.47-7.76-7.75-7.76H76.38v-15.47h14.46c4.28,0,7.75-3.48,7.75-7.76c0-4.29-3.47-7.76-7.75-7.76H76.38V133.68h12.49
                                                c3.44,0,6.46-2.26,7.44-5.56l8.7-29.4h28.75v26.99c0,4.28,3.47,7.76,7.76,7.76h28.61l15.33,19.66c6.27,8.04,15.7,12.65,25.89,12.65
                                                h33.99c4.29,0,7.76-3.48,7.76-7.76c0-4.28-3.48-7.76-7.76-7.76h-33.99c-5.37,0-10.35-2.43-13.65-6.67l-7.9-10.12h231.58l-7.9,10.12
                                                c-3.3,4.24-8.27,6.67-13.65,6.67H276.36c-4.29,0-7.76,3.48-7.76,7.76c0,4.29,3.47,7.76,7.76,7.76h123.48
                                                c10.19,0,19.62-4.61,25.89-12.64l15.33-19.67h28.61c4.29,0,7.76-3.48,7.76-7.76V98.73h28.78l8.7,29.4c0.98,3.29,4,5.56,7.44,5.56
                                                h12.49V269.8h-14.46c-4.28,0-7.76,3.47-7.76,7.76c0,4.29,3.48,7.75,7.76,7.75h14.46v15.48h-14.46c-4.28,0-7.76,3.47-7.76,7.76
                                                c0,4.28,3.48,7.75,7.76,7.75h14.46v15.48h-14.46c-4.28,0-7.76,3.47-7.76,7.76c0,4.28,3.48,7.76,7.76,7.76h14.46v15.47h-14.46
                                                c-4.28,0-7.76,3.48-7.76,7.76c0,4.28,3.48,7.76,7.76,7.76h14.46v15.48h-14.46c-4.28,0-7.76,3.47-7.76,7.76
                                                c0,4.29,3.48,7.76,7.76,7.76h14.46v15.48h-14.46c-4.28,0-7.76,3.47-7.76,7.76c0,4.29,3.48,7.76,7.76,7.76h14.46v15.47h-14.46
                                                c-4.28,0-7.76,3.48-7.76,7.76c0,4.29,3.48,7.76,7.76,7.76h14.46v15.47h-14.46c-4.28,0-7.76,3.48-7.76,7.76
                                                c0,4.28,3.48,7.76,7.76,7.76h14.46v15.47h-14.46c-4.28,0-7.76,3.48-7.76,7.76c0,4.29,3.48,7.76,7.76,7.76h14.46v28.34
                                                c0,4.28,3.47,7.75,7.76,7.75c4.28,0,7.75-3.47,7.75-7.75v-28.34h12.36c4.28,0,7.76-3.47,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76
                                                h-12.36v-15.47h12.36c4.28,0,7.76-3.48,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36v-15.47h12.36c4.28,0,7.76-3.48,7.76-7.76
                                                c0-4.28-3.48-7.76-7.76-7.76h-12.36v-15.47h12.36c4.28,0,7.76-3.48,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36v-15.48h12.36
                                                c4.28,0,7.76-3.47,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36V378.3h12.36c4.28,0,7.76-3.47,7.76-7.76
                                                c0-4.29-3.48-7.76-7.76-7.76h-12.36V347.3h12.36c4.28,0,7.76-3.48,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36v-15.47h12.36
                                                c4.28,0,7.76-3.48,7.76-7.76c0-4.29-3.48-7.76-7.76-7.76h-12.36v-15.47h12.36c4.28,0,7.76-3.48,7.76-7.76
                                                c0-4.29-3.48-7.76-7.76-7.76h-12.36V133.68h12.36c4.28,0,7.76-3.48,7.76-7.76V78.42z M83.07,118.16H56.26V98.73h32.56L83.07,118.16
                                                z M461.92,117.95H149.28V98.73h312.65V117.95z M554.96,118.16h-26.81l-5.75-19.43h32.56V118.16z M554.96,118.16"
                    />
                  </g>
                </svg>
              </div>
            </div>
            <!-- Single Service End -->
          </div>
          <div class="col-lg-4 col-sm-6">
            <!-- Single Service Start -->
            <div class="single-service" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title">
                <a href="/services/accident-jobs"
                  >{{.Site.Params.service9}}</a
                >
              </h4>
              <a href="/services/accident-jobs" class="more">Learn more</a>

              <div class="service-icon">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 600 600"
                  style="enable-background: new 0 0 600 600"
                  xml:space="preserve"
                >
                  <style type="text/css">
                    .st3 {
                      fill: #ffffff;
                    }
                  </style>
                  <path
                    class="icon-path"
                    d="M142.35,23.3H106.2c-14.95,0-27.11,12.16-27.11,27.11v18.07h90.37V50.41C169.46,35.46,157.3,23.3,142.35,23.3
                                        L142.35,23.3z M142.35,23.3"
                  />
                  <path
                    class="icon-path"
                    d="M503.84,23.3h-36.15c-14.95,0-27.11,12.16-27.11,27.11v18.07h90.37V50.41C530.95,35.46,518.79,23.3,503.84,23.3
                                        L503.84,23.3z M503.84,23.3"
                  />
                  <path
                    class="icon-path"
                    d="M395.39,475.17H214.65c-14.95,0-27.11-12.16-27.11-27.11v-216.9c0-14.95,12.16-27.11,27.11-27.11h180.75
                                        c14.95,0,27.11,12.16,27.11,27.11v216.9C422.51,463,410.34,475.17,395.39,475.17L395.39,475.17z M395.39,475.17"
                  />
                  <path
                    class="st3"
                    d="M275.54,439.02h26.22l62.56-135.56h-38.28l18.07-63.26h-64.08L248,357.68h45.75L275.54,439.02z M271.67,339.6
                                        l22.18-81.34h26.29l-18.07,63.26h34.02l-30.55,66.17l10.75-48.1H271.67z M271.67,339.6"
                  />
                  <path
                    class="icon-path"
                    d="M585.18,131.75v-18.07c0-9.97-8.11-18.07-18.07-18.07h-18.07v-9.04c0-14.95-12.16-27.11-27.11-27.11h-72.3
                                        c-14.95,0-27.11,12.16-27.11,27.11v9.04H187.53v-9.04c0-14.95-12.16-27.11-27.11-27.11h-72.3c-14.95,0-27.11,12.16-27.11,27.11v9.04
                                        H42.94c-9.97,0-18.07,8.11-18.07,18.07v18.07c0,9.97,8.11,18.07,18.07,18.07v379.57c-9.97,0-18.07,8.11-18.07,18.07v18.07
                                        c0,9.97,8.11,18.07,18.07,18.07H567.1c9.97,0,18.07-8.11,18.07-18.07v-18.07c0-9.97-8.11-18.07-18.07-18.07V149.82
                                        C577.07,149.82,585.18,141.71,585.18,131.75L585.18,131.75z M440.58,86.56c0-4.99,4.05-9.04,9.04-9.04h72.3
                                        c4.99,0,9.04,4.05,9.04,9.04v9.04h-90.37V86.56z M79.09,86.56c0-4.99,4.05-9.04,9.04-9.04h72.3c4.99,0,9.04,4.05,9.04,9.04v9.04
                                        H79.09V86.56z M42.94,113.67H567.1l0.02,18.07H42.94V113.67z M567.12,565.54H42.94v-18.07H567.1L567.12,565.54z M549.03,529.39
                                        H61.01V149.82h488.02V529.39z M549.03,529.39"
                  />
                  <rect x="440.58" y="330.57" width="90.37" height="18.07" />
                  <path
                    d="M115.24,384.79h18.07v-36.15h36.15v-18.07h-36.15v-36.15h-18.07v36.15H79.09v18.07h36.15V384.79z M115.24,384.79"
                  />
                  <rect x="79.09" y="493.24" width="18.07" height="18.07" />
                  <rect x="115.24" y="493.24" width="18.07" height="18.07" />
                  <rect x="151.38" y="493.24" width="18.07" height="18.07" />
                  <rect x="512.88" y="167.89" width="18.07" height="18.07" />
                  <rect x="476.73" y="167.89" width="18.07" height="18.07" />
                  <rect x="440.58" y="167.89" width="18.07" height="18.07" />
                </svg>
              </div>
            </div>
            <!-- Single Service End -->
          </div>
        </div>
      </div>
      <!-- Service Wrapper End -->
    </div>
  </div>
</div>