<div class="section section-padding-02">
  <div class="container">

      <!-- Section Title Start -->
      <div class="section-title text-center">
          <h5 class="sub-title">Our team</h5>
          <h2 class="main-title">Talented Mechanics</h2>
          <p>Trusted and reliable service is our main goal extremely <br> painful. Nor again is there anyone who loves </p>
      </div>
      <!-- Section Title End -->

      <!-- Team Wrapper Start -->
      <div class="team-wrapper">
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <!-- Single Team Start -->
                  <div class="single-team" data-aos="fade-up" data-aos-delay="100">
                      <div class="team-images">
                          <a href="team-profile.html"><img src="/assets/images/team/team-1.jpg" alt="Team"></a>
                      </div>
                      <div class="team-content">
                          <div class="content-wrapper">
                              <h4 class="name"><a href="team-profile.html">Daniel Williams</a></h4>
                              <span class="designation">Engine Mechanic</span>
                              <div class="team-meta">
                                  <p class="meta">Exprience: <strong>8 years</strong></p>
                                  <p class="meta">Rating: <span>5</span></p>
                              </div>
                              <ul class="social">
                                  <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Single Team End -->
              </div>
              <div class="col-lg-3 col-sm-6">
                  <!-- Single Team Start -->
                  <div class="single-team" data-aos="fade-up" data-aos-delay="200">
                      <div class="team-images">
                          <a href="team-profile.html"><img src="/assets/images/team/team-2.jpg" alt="Team"></a>
                      </div>
                      <div class="team-content">
                          <div class="content-wrapper">
                              <h4 class="name"><a href="team-profile.html">Stuart Macgil</a></h4>
                              <span class="designation">Interior Mechanic</span>
                              <div class="team-meta">
                                  <p class="meta">Exprience: <strong>8 years</strong></p>
                                  <p class="meta">Rating: <span>4.9</span></p>
                              </div>
                              <ul class="social">
                                  <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Single Team End -->
              </div>
              <div class="col-lg-3 col-sm-6">
                  <!-- Single Team Start -->
                  <div class="single-team" data-aos="fade-up" data-aos-delay="300">
                      <div class="team-images">
                          <a href="team-profile.html"><img src="/assets/images/team/team-3.jpg" alt="Team"></a>
                      </div>
                      <div class="team-content">
                          <div class="content-wrapper">
                              <h4 class="name"><a href="team-profile.html">Ricardo Powel</a></h4>
                              <span class="designation">Wheels Specialist</span>
                              <div class="team-meta">
                                  <p class="meta">Exprience: <strong>8 years</strong></p>
                                  <p class="meta">Rating: <span>5</span></p>
                              </div>
                              <ul class="social">
                                  <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Single Team End -->
              </div>
              <div class="col-lg-3 col-sm-6">
                  <!-- Single Team Start -->
                  <div class="single-team" data-aos="fade-up" data-aos-delay="400">
                      <div class="team-images">
                          <a href="team-profile.html"><img src="/assets/images/team/team-4.jpg" alt="Team"></a>
                      </div>
                      <div class="team-content">
                          <div class="content-wrapper">
                              <h4 class="name"><a href="team-profile.html">Albert Thomas</a></h4>
                              <span class="designation">Lead Painter</span>
                              <div class="team-meta">
                                  <p class="meta">Exprience: <strong>8 years</strong></p>
                                  <p class="meta">Rating: <span>4.7</span></p>
                              </div>
                              <ul class="social">
                                  <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                                  <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Single Team End -->
              </div>
          </div>
      </div>
      <!-- Team Wrapper End -->

  </div>
</div>