<div class="section section-padding-02">
  <div class="container">

      <!-- Testimonials Wrapper Start -->
      <div class="testimonials-wrapper">
          <!-- Testimonials Title Start -->
          <div class="testimonials-title">
              <!-- Section Title Start -->
              <div class="section-title">
                  <h5 class="sub-title">Testimonials</h5>
                  <h2 class="main-title">What our Happy Clients say</h2>
                  <p>{{.Site.Params.webdescription}}</p>
              </div>
              <!-- Section Title End -->
          </div>
          <!-- Testimonials Title End -->

          <!-- Testimonials Items Start -->
          <div class="testimonials-items testimonial-active">

              <img class="shape" src="/assets/images/testimonials.png" alt="Testimonials">

              <img class="quote" src="/assets/images/quote.svg" alt="quote">

              <div class="swiper-container">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <!-- Single Testimonials Start -->
                          <div class="single-testimonials">
                              <img class="author" src="/assets/images/author/author-01.jpg" alt="Author">
                              <h3 class="name">Bhaskar Sarma</h3>
                              <p>Had a great experience with German Motors for my 320d servicing! It's always reassuring to find experts who genuinely understand their craft and provide transparent service. It's wonderful that they provide videos of each step, enhancing transparency and trust. Kudos to the entire team, especially Ahmar and Danish, for their exceptional work!</p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                          <!-- Single Testimonials End -->
                      </div>
                      <div class="swiper-slide">
                          <!-- Single Testimonials Start -->
                          <div class="single-testimonials">
                              <img class="author" src="/assets/images/author/author-02.jpg" alt="Author">
                              <h3 class="name">Dr Parthiban Vijayaraghavan</h3>
                              <p>I took my car to the service station because it was giving me some alarms for different parts. Danish really knew his stuff. He said from his experience, it's usually the sensors, and he was spot on. When they checked the tires, we saw the sensors weren't working. They did a great job fixing it. Super happy with the on-time delivery and fair pricing. If you've got a fancy car, definitely recommend getting it serviced here!</p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                          <!-- Single Testimonials End -->
                      </div>
                      <div class="swiper-slide">
                          <!-- Single Testimonials Start -->
                          <div class="single-testimonials">
                              <img class="author" src="/assets/images/author/author-03.jpg" alt="Author">
                              <h3 class="name">Jackson Kisku</h3>
                              <p>I had my Honda car serviced at German Motors, and I couldn't be happier with the experience. Initially I was apprehensive if they are specialized only with German cars however I got to know that they are allrounder with expertise in German cars. Danish was very friendly and professional, and they completed the service quickly and efficiently. I got ongoing videos of oil changes, break checks, etc which made me feel that it was being serviced right before me. I got my car delivered at doorstep within 4-5 hours roughly after full servicing & cleaning. My car is running smoothly, and I'm impressed by the quality of their work. I highly recommend German Motors Service Center for anyone in need of reliable car servicing!</p>
                              <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                          <!-- Single Testimonials End -->
                      </div>
                  </div>
              </div>

              <div class="swiper-pagination"></div>

          </div>
          <!-- Testimonials Items End -->
      </div>
      <!-- Testimonials Wrapper End -->

  </div>
</div>