{{ define "main" }}
<!-- Slider Section Start -->
<div class="section slider-section">
  <!-- Slider Section Start -->
  <div
    class="single-slider"
    style="background-image: url(/assets/images/slider/slider-bg.jpg)"
  >
    <div class="container">
      <!-- Slider Section Start -->
      <div class="slider-content">
        <h5 class="sub-title" data-aos="fade-up" data-aos-delay="100">
          A STATE OF THE ART WORKSHOP FOR ALL CAR TYPES
        </h5>
        <h1 class="main-title" data-aos="fade-up" data-aos-delay="400">
          Does your car need attention?
        </h1>
        <p data-aos="fade-up" data-aos-delay="600">
          {{.Params.content1}}
        </p>
        <!-- <a
          href="contact"
          data-aos="fade-up"
          data-aos-delay="800"
          class="btn btn-custom-01"
          >Contact us</a
        > -->
      </div>
      <!-- Slider Section End -->
    </div>

    <!-- Slider Images Start -->
    <div class="slider-images">
      <div class="image" data-aos="fade-left" data-aos-delay="1000">
        <img src="/assets/images/slider/slider-2.png" alt="Slider" />
      </div>
    </div>
    <!-- Slider Images End -->

    <!-- Slider Images Start -->
    <div class="slider-images-02">
      <div class="image" data-aos="fade-right" data-aos-delay="1300">
        <img src="/assets/images/slider/slider-1.png" alt="Slider" />
      </div>
    </div>
    <!-- Slider Images End -->
  </div>
  <!-- Slider Section End -->
</div>
<!-- Slider Section End -->

<!-- About Section Start -->
<div class="section section-padding-02">
  <div class="container">
    <!-- About Wrapper Start -->
    <div class="about-wrapper">
      <div class="row align-items-end">
        <div class="col-lg-6">
          <!-- About Images Start -->
          <div class="about-images">
            <div class="images" data-aos="fade-right" data-aos-delay="200">
              <img src="/assets/images/about/about.png" alt="About" />
            </div>
            <div class="exprience" data-aos="fade-up" data-aos-delay="400">
              <p><strong>5</strong> years Experience</p>
            </div>
          </div>
          <!-- About Images End -->
        </div>
        <div class="col-lg-6">
          <!-- About Content Start -->
          <div class="about-content" data-aos="fade-left" data-aos-delay="200">
            <!-- Section Title Start -->
            <div class="section-title">
              <h5 class="sub-title">Welcome to <strong>{{.Site.Title}}</strong>.</h5>
              <h2 class="main-title">
                Top-of-the-line equipment alongside dependable and transparent service
              </h2>
            </div>
            <!-- Section Title End -->

            <p>
              {{.Site.Params.webdescription}}
            </p>
            <p>
              {{.Params.content2}}
            </p>

            <!-- About Count Start -->
            <div class="about-count">
              <!-- About Count Start -->
              <div class="single-count">
                <span class="count">{{.Site.Params.Clients}}</span>
                <p>Happy car owners</p>
              </div>
              <!-- About Count End -->
              <!-- About Count Start -->
              <div class="single-count">
                <span class="count">{{.Site.Params.Branch}}</span>
                <p>Branch</p>
              </div>
              <!-- About Count End -->
              <!-- About Count Start -->
              <div class="single-count">
                <span class="count">{{.Site.Params.accrediations}}</span>
                <p>Accrediations</p>
              </div>
              <!-- About Count End -->
            </div>
            <!-- About Count End -->

            <a href="contact" class="btn btn-custom-01">Get Appointment</a>
          </div>
          <!-- About Content End -->
        </div>
      </div>
    </div>
    <!-- About Wrapper End -->
  </div>
</div>
<!-- About Section End -->

<!-- Service Section Start -->
{{ partial "service.html" . }}
<!-- Service Section End -->

<!-- Call to Action Section Start -->
{{ partial "call-to-action.html" . }}
<!-- Call to Action Section End -->

<!-- Why Choose Section Start -->
<div class="section section-padding-02">
  <div class="container">
    <!-- Why Choose Wrapper Start -->
    <div class="choose-wrapper">
      <div class="choose-items-wrapper">
        <div class="row gx-xl-5 align-items-center">
          <div class="section-title">
            <h5 class="sub-title">Why Choose Us</h5>
            <h2 class="main-title">Accurate diagnosis, intelligent repairs, transparent and honest billing and, dilligent after repair service</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center gx-xl-0">
        <div class="col-lg-5">
          <!-- Why Choose Content Start -->
          <div
            class="choose-content"
            data-aos="fade-right"
            data-aos-delay="300"
          >
            <p>
              {{ .Params.content3 }}
            </p>
            
            <img src="/assets/images/choose/choose.png" alt="Choose" />
          </div>
          <!-- Why Choose Content End -->
        </div>
        <div class="col-lg-7">  
          <!-- Why Choose Items Wrapper Start -->
          <div class="choose-items-wrapper">
            <div class="row gx-xl-5 align-items-center">
              <div class="col-sm-6">
                <!-- Single Choose Item Start -->
                <div
                  class="single-choose-item"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <div class="item-icon">
                    <img src="/assets/images/choose/icon-1.svg" alt="Icon" />
                  </div>
                  <div class="item-content">
                    <h4 class="title" style="padding-top: 15px;">Latest Equipments</h4>
                    <p>
                      
                    </p>
                  </div>
                </div>
                <!-- Single Choose Item End -->
              </div>
              <div class="col-sm-6">
                <!-- Single Choose Item Start -->
                <div
                  class="single-choose-item"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <div class="item-icon">
                    <img src="/assets/images/choose/icon-3.svg" alt="Icon" />
                  </div>
                  <div class="item-content">
                    <h4 class="title" style="padding-top: 15px;">Expert Mechanics</h4>
                    <p>
                      
                    </p>
                  </div>
                </div>
                <!-- Single Choose Item End -->
              </div>
              <div class="col-sm-6">
                <!-- Single Choose Item Start -->
                <div
                  class="single-choose-item"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <div class="item-icon">
                    <img src="/assets/images/choose/icon-2.svg" alt="Icon" />
                  </div>
                  <div class="item-content">
                    <h4 class="title" style="padding-top: 15px;">Quality Services</h4>
                    <p>
                      
                    </p>
                  </div>
                </div>
                <!-- Single Choose Item End -->
              </div>
              <div class="col-sm-6">
                <!-- Single Choose Item Start -->
                <div
                  class="single-choose-item"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <div class="item-icon">
                    <img src="/assets/images/choose/icon-4.svg" alt="Icon" />
                  </div>
                  <div class="item-content">
                    <h4 class="title" style="padding-top: 20px;">Fast Delivery</h4>
                    <p>
                      
                    </p>
                  </div>
                </div>
                <!-- Single Choose Item End -->
              </div>
            </div>
          </div>
          <!-- Why Choose Items Wrapper End -->
        </div>
      </div>
    </div>
    <!-- Why Choose Wrapper End -->
  </div>
</div>
<!-- Why Choose Section End -->

<!-- How We Work Section Start -->
  {{partial "how-we-work.html" .}}
<!-- How We Work Section End -->

<!-- Testimonials Section Start -->
{{partial "testimonials.html" .}}
<!-- Testimonials Section End -->

<!-- Blog Section Start -->

{{ end }}
